# 8.26.24

In [3]:
print(17 // 3)
print(17 % 3)

5
2

In [7]:
x = 1
print(x != 2)
print(x != 1)

True
False

In [9]:
x, y, z = 10, -100, 25
z

25

In [11]:
x = 5
x += 1
print(x)

6

In [13]:
x = 1
x -= 1
print(x)

0

In [15]:
y = 15
y *= 2
print(y)

30

In [17]:
z = 23
z //= 5
print(z)

4

In [19]:
name = "john davis"
print(name.upper())
print(name.lower())
print(name.title())
print(name)

JOHN DAVIS
john davis
John Davis
john davis

In [23]:
name = "Sam"
name += " L."
name += " Jackson"
print(name)

Sam L. Jackson

In [29]:
name = "xyz "
print(name * 4)

name += "2"
print(name)

xyz xyz xyz xyz
xyz 2

In [31]:
fname = "john"
lname = "davis"
age = 20

print(f"Hello, {fname.title()} {lname.title()}. Are you {age} years old?")

Hello, John Davis. Are you 20 years old?

In [33]:
x = 10123456
print(f"{x: ,}")

 10,123,456

In [37]:
x = 2.46
print(f"{x: .1f}")

 2.5

In [39]:
print(f"{654.321: .2f}")

 654.32

In [45]:
x = 0.4567
print(f"{x: .1%}")

 45.7%

In [47]:
name = input("What is your name?")
print(f"Hi {name.title()}!")

What is your name? Jennifer

Hi Jennifer!

In [49]:
age = input("How old are you? ")
age + 10

How old are you?  22

TypeError: can only concatenate str (not "int") to str

In [51]:
age = float(input("How old are you? "))
age += 10
print(age)

How old are you?  25.5

35.5

In [53]:
print("SOM:\n\tMIS\n\tMarketing\n\tSCM")

SOM:
	MIS
	Marketing
	SCM

In [55]:
name = " john davis  "
print(name.lstrip())
print(name.rstrip())
print(name.strip())
print(name)

john davis
 john davis
john davis
 john davis

In [59]:
mystring = input("Enter a sentence: ")
mystring = mystring.strip().title()
mystring += "."
print(mystring)

Enter a sentence:          the fifth street

The Fifth Street.

In [61]:
first = input("Enter your first name: ").strip()
last = input("Enter your last name: ").strip()
email = f"{first.lower()}.{last.lower()}@BU.com"
print(email)

Enter your first name:  Sam
Enter your last name:  DAVIS

sam.davis@BU.com

In [63]:
print("ten", 2, 1.5, sep = "-")

ten-2-1.5

In [65]:
print("ten", 2, 1.5, sep = "-")

ten-2-1.5

In [67]:
name = "Jennifer"
age = 24

print("Name", name, sep = ": ", end = " ")
print("Age", age, sep = ": ")

Name: Jennifer Age: 24

In [69]:
item = input("Enter the item name: ").strip()
price = float(input("Enter the price of the item: $").lstrip("$"))
q = int(input(f"Enter the quantity of {item}: "))
subt = price * q
tax = 0.1 * subt

print(f"\nInvoice\nItem: {item}", f"Price: ${price: .2f}", f"Quantity: {q}", sep = " | ")
print("-"*40)
print(f"Subtotal: ${subt: .2f}\nTax (10%): ${tax: .2f}\nTotal: ${subt + tax: .2f}")

Enter the item name:  Apple
Enter the price of the item: $ 1.25
Enter the quantity of Apple:  10

Invoice
Item: Apple | Price: $ 1.25 | Quantity: 10
----------------------------------------
Subtotal: $ 12.50
Tax (10%): $ 1.25
Total: $ 13.75

# 8.28.24

In [71]:
num = int(input("Enter a 2-d number: "))
#num = n_tens * 10 + n_ones
n_tens = num // 10
n_ones = num % 10
flipped = n_ones * 10 + n_tens
print(flipped)

Enter a 2-d number:  52

25

In [75]:
weekdays = ["mon", "tue", "wed", "thu", "fri"]
print(weekdays[-1])
print(weekdays[-3])
print(weekdays[2])

fri
wed
wed

In [77]:
print(f"Our meeting days are {weekdays[0].title()} and {weekdays[2].title()}.")

Our meeting days are Mon and Wed.

In [79]:
weekdays = ["mon", "tue", "wed", "thu", "fri"]
print(weekdays[0:3])
print(weekdays[:3])
print(weekdays[2:])
print(weekdays[:])

['mon', 'tue', 'wed']
['mon', 'tue', 'wed']
['wed', 'thu', 'fri']
['mon', 'tue', 'wed', 'thu', 'fri']

In [81]:
nested = [1, 2, [3, 4, ["hello"]]]
print(nested[2][2][0])

nested = [1, 2, [3, 4]]
print(nested[2][1])

hello
4

In [85]:
guitars = ["Martin", "Gibson", "Fender"]
guitars[0] = "Yamaha"
print(guitars)

guitars.append("Martin")
print(guitars)

['Yamaha', 'Gibson', 'Fender']
['Yamaha', 'Gibson', 'Fender', 'Martin']

In [91]:
guitars = []
guitars.append("Gibson")
guitars.append("Fender")
guitars.append("Martin")
print(guitars)

guitars.insert(1, "Yamaha")
print(guitars)

del guitars[1]
print(guitars)

guitars.pop() # removes desired item from list, if not specified removes last item
print(guitars)

['Gibson', 'Fender', 'Martin']
['Gibson', 'Yamaha', 'Fender', 'Martin']
['Gibson', 'Fender', 'Martin']
['Gibson', 'Fender']

In [93]:
guitars = ['Gibson', 'Fender', 'Martin']
deleted = guitars.pop(1)
print(guitars)

print(deleted)

['Gibson', 'Martin']
Fender

In [95]:
guitars = ['Gibson', 'Fender', 'Martin', 'Fender']
guitars.remove("Fender")
print(guitars)

['Gibson', 'Martin', 'Fender']

In [99]:
guitars.sort(reverse = True)
print(guitars)
print(sorted(guitars))

['Martin', 'Gibson', 'Fender']
['Fender', 'Gibson', 'Martin']

In [103]:
guitars = ['Gibson', 'Martin', 'Fender']
guitars.reverse()
print(guitars)

print(len(guitars))

['Fender', 'Martin', 'Gibson']
3

In [107]:
fruit = ["kiwi", "Kiwi", "apple", "Apple", "Fig", "Cherry"]
print(sorted(fruit))
sorted(fruit, key = len)

['Apple', 'Cherry', 'Fig', 'Kiwi', 'apple', 'kiwi']

['Fig', 'kiwi', 'Kiwi', 'apple', 'Apple', 'Cherry']

In [109]:
num = [-4, -2, 1, 3]
sorted(num, key = abs)

[1, -2, 3, -4]

In [111]:
fruit = ["kiwi", "Kiwi", "apple", "Apple", "Fig", "Cherry"]
sorted(fruit, key = str.lower)

['apple', 'Apple', 'Cherry', 'Fig', 'kiwi', 'Kiwi']

In [113]:
num = [1, 2, 3, 10, 32, 310, 321, 3200]
sorted(num, key = str)

[1, 10, 2, 3, 310, 32, 3200, 321]

In [115]:
guitars = ["Fender", "Yamaha", "Gibson"]
def last_char(s):
    return s[-1]
sorted(guitars, key = last_char)

['Yamaha', 'Gibson', 'Fender']

# 9.9.24

In [189]:
n = int(input("Enter n: "))
r = 0
for i in range(1, n+1, 1):
    r += i
print(r)

Enter n:  5

15

In [191]:
sizes = ["S", "M", "L"]
colors = ["Blue", "Red", "Green"]
for s in sizes:
    for c in colors:
        print(s, c)

S Blue
S Red
S Green
M Blue
M Red
M Green
L Blue
L Red
L Green

In [193]:
for i in range(1, 11, 1):
    for j in range(1, 11, 1):
        r = i*j
        print(f"{r}\t", end = " ")
    print()

1	 2	 3	 4	 5	 6	 7	 8	 9	 10
2	 4	 6	 8	 10	 12	 14	 16	 18	 20
3	 6	 9	 12	 15	 18	 21	 24	 27	 30
4	 8	 12	 16	 20	 24	 28	 32	 36	 40
5	 10	 15	 20	 25	 30	 35	 40	 45	 50
6	 12	 18	 24	 30	 36	 42	 48	 54	 60
7	 14	 21	 28	 35	 42	 49	 56	 63	 70
8	 16	 24	 32	 40	 48	 56	 64	 72	 80
9	 18	 27	 36	 45	 54	 63	 72	 81	 90
10	 20	 30	 40	 50	 60	 70	 80	 90	 100

In [195]:
myobj = ["Jen", "Joe", 101, ["Kim", "Amy"]]
for x in myobj:
    print(x)

Jen
Joe
101
['Kim', 'Amy']

In [197]:
myobj = "MIS #25"
for x in myobj:
    print(x)

M
I
S

#
2
5

In [199]:
mylist = ["Joe", "Jim", "Jen"]
len(mylist)

3

In [201]:
cv = 0
for item in mylist:
    cv += 1
print(cv)

3

In [203]:
mylist = "Jennifer"
cv = 0
for item in mylist:
    cv += 1
print(cv)

8

In [205]:
mylist = ["Joe", "Jim", "Jen"]
for item in mylist:
    print(item)

Joe
Jim
Jen

In [207]:
for i in range(0, len(mylist), 1):
    print(mylist[i])

Joe
Jim
Jen

In [209]:
for i in range(0, len(mylist), 2):
    print(mylist[i])

Joe
Jen

In [213]:
squares = []
for n in range(1, 11, 1):
    squares.append(n**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [215]:
#list comprehension
seq = [n**2 for n in range(1, 11, 1)]
seq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [217]:
sequence = [5*i + 1 for i in range(11)]
sequence

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51]

In [219]:
sizes = ["S", "M", "L"]
colors = ["Blue", "Red", "Green"]
for s in sizes:
    for c in colors:
        print(s, c)

S Blue
S Red
S Green
M Blue
M Red
M Green
L Blue
L Red
L Green

In [221]:
combo = [(s, c) for s in sizes for c in colors]
combo

[('S', 'Blue'),
 ('S', 'Red'),
 ('S', 'Green'),
 ('M', 'Blue'),
 ('M', 'Red'),
 ('M', 'Green'),
 ('L', 'Blue'),
 ('L', 'Red'),
 ('L', 'Green')]

In [223]:
[x**2 if x % 2 == 0 else x**3 for x in range(1, 10, 1)]

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [227]:
mylist1 = [2, 3, 4]
mylist2 = mylist1
mylist1.append(1)
mylist2.append(2)
print(mylist1)
print(mylist2)

[2, 3, 4, 1, 2]
[2, 3, 4, 1, 2]

In [229]:
#copying a list
mylist2 = mylist1.copy()
mylist2 = mylist1[:]

x1 = x2 = 100

x1 += 1
x2 -= 1

print(x1)
print(x2)

101
99

In [231]:
#TUPLES (are immutable)
mytuple = (10, 11, 12, 13)
print(mytuple[1])
print(mytuple[:2])
print(mytuple[2:])

11
(10, 11)
(12, 13)

In [233]:
mytuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [235]:
t = (5,)
t[0]

5

In [237]:
t = ("Jennifer")
t[0]

'J'

In [239]:
t = (10, 11, 12, 13)
for item in t[1:3]:
    print(item*2)

22
24

In [241]:
t * 4

(10, 11, 12, 13, 10, 11, 12, 13, 10, 11, 12, 13, 10, 11, 12, 13)

In [243]:
t + ("A","b", 101)

(10, 11, 12, 13, 'A', 'b', 101)

In [245]:
abs(-5)

5

In [247]:
#CONDITIONAL STATEMENTS

n = int(input("Enter an integer: "))
if n >= 0:
    print(n)
else:
    print(-n)

Enter an integer:  -2

2

In [249]:
name = "John"
name == "John"

True

In [251]:
name != "Jen"

True

In [255]:
x = 5
x > 10

False

In [257]:
u = input("Choose your user: ")
p1 = input("Choose your pass: ")
p2 = input("Re-enter your pass: ")
if p1 != p2:
    print("Entries do not match!")
else:
    print("You are all set!")

Choose your user:  Alice
Choose your pass:  Alice123
Re-enter your pass:  alice123

Entries do not match!

In [259]:
students = ["Ben", "Tom", "Jen", "Joe"]
for student in students:
    if student == "Jen":
        print(f"{student} (she/her/hers)")
    else:
        print(f"{student} (he/him/his)")

Ben (he/him/his)
Tom (he/him/his)
Jen (she/her/hers)
Joe (he/him/his)

In [261]:
mylist = []
if mylist:
    print("List is not empty!")
else:
    print("List is empty")

List is empty

In [263]:
n1 = 15
n2 = 32
n1 >= 10 and n2 < 30

False

In [267]:
n1 >= 10 or n2 < 30

True

In [265]:
not n1 >= 10 or n2 < 30

False

In [277]:
students = ["Fred", "Jen"]
print("Jen" in students)
print("Jim" not in students)

True
True

In [279]:
"oo" in "school"

True

In [281]:
"z" not in "xyz"

False

# 9.11.24

In [117]:
age = int(input("How old are you? "))
if age < 18:
    print("You are a minor!")
else:
    print("You are an adult!")

How old are you?  16

You are a minor!

In [119]:
2 > 5 and -1 != 0

False

In [121]:
2 > 5 or -1 != 0

True

In [123]:
not 2 > 5 and -1 != 0

True

In [125]:
"noon" in "afternoon"

True

In [127]:
10 not in ["Abigail", 11, -1]

True

In [129]:
enrolled = ["Joe", "Jen", "Jim", "Jack", "Jill"]
students = ["Jack", "Walter", "Jen"]

for name in students:
    if name in enrolled:
        print(f"{name} is enrolled in the class.")
    else:
        print(f"{name} is not enrolled in the class.")

Jack is enrolled in the class.
Walter is not enrolled in the class.
Jen is enrolled in the class.

In [131]:
mylist1 = [1, 2, 3, 4, 2]
mylist2 = [2, 3, 4, 5, 6, 7]

intersect = []
for item in mylist1:
    if item in mylist2 and item not in intersect:
        intersect.append(item)
intersect

[2, 3, 4]

In [133]:
n = int(input("Enter a an integer: "))
if n % 2 == 0:
    print(f"The number {n} is an even number.")
else:
    print(f"The number {n} is an odd number.")

Enter a an integer:  -1

The number -1 is an odd number.

In [135]:
for i in range(1, 6, 1):
    n = int(input(f"Enter a your integer #{i}: "))
    if n % 2 == 0:
        print(f"The number {n} is an even number.")
    else:
        print(f"The number {n} is an odd number.")
print("\nBye")

Enter a your integer #1:  1

The number 1 is an odd number.

Enter a your integer #2:  101

The number 101 is an odd number.

Enter a your integer #3:  0

The number 0 is an even number.

Enter a your integer #4:  -1

The number -1 is an odd number.

Enter a your integer #5:  100

The number 100 is an even number.

Bye

In [137]:
mylist = []
for num in range(100, 1000):
    if num % 2 == 0:
        str_num = str(num)
        if "0" in str_num:
            mylist.append(num)
len(mylist)

126

In [139]:
#How many three-digit even number that has at least a zero do we have?
mylist = []
for num in range(100, 1000):
    if num % 2 == 0 and "0" in str(num):
        mylist.append(num)
len(mylist)

126

In [141]:
year = int(input("Enter a year: "))
if year % 100 == 0:
    if year % 400 == 0:
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")
else:
    if year % 4 == 0:
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")

Enter a year:  1998

1998 is not a leap year.

In [143]:
p = float(input("Enter your score: "))
if p >= 90:
    grade = "A"
elif p >= 80:
    grade = "B"
elif p >= 70:
    grade = "C"
elif p < 70:
    grade = "F"
print(f"Your letter grade is {grade}.")

Enter your score:  34.5

Your letter grade is F.

In [165]:
mylist = [n for n in range(1, 10, 1)]
for n in mylist:
    if n == 1:
        print(f"{n}st")
    elif n == 2:
        print(f"{n}nd")
    elif n == 3:
        print(f"{n}rd")
    else:
        print(f"{n}th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th

In [167]:
mytuple = (3, -61, 18, 5, 7, 24, 24)
sorted(mytuple)[-2]

24

In [169]:
largest = second = float("-inf")
for num in mytuple:
    if num > largest:
        second = largest
        largest = num       
    elif num < largest and num > second:
        second = num
print(second)

18

In [171]:
for i in range(1, 6, 1):
    print(i)

1
2
3
4
5

In [173]:
# WHILE LOOPS

count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [175]:
count

6

In [177]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [179]:
j = 1
while j <= 9:
    print(j)
    j += 2

1
3
5
7
9

In [181]:
n = 1
while n <= 5:
    print("X"*n)
    n += 1

X
XX
XXX
XXXX
XXXXX

In [183]:
m = 5
while m >= 1:
    print("X"*m)
    m -= 1

XXXXX
XXXX
XXX
XX
X

In [185]:
secret_code = "phoenix"
tries = 3

while tries > 0:
    entry = input("Enter the secret code: ")
    if entry.lower() == secret_code:
        print("Access granted. Welcome!")
        tries = 0   
    else:
        tries -= 1
        if tries > 0:
            print(f"Access denied! You have {tries} attempt(s) left.")
        else:
            print("Out of attempts.")

Enter the secret code:  open

Access denied! You have 2 attempt(s) left.

Enter the secret code:  PHOENIX

Access granted. Welcome!

# 9.16.24

In [283]:
secret_code = "phoenix"
tries = 3

while tries > 0:
    entry = input("Enter the secret code: ")
    if entry.lower() == secret_code:
        print("Access granted! Welcome.")
        tries = 0
    else:
        tries -= 1
        if tries > 0:
            print(f"Access denied! {tries} attempt(s) left.\n")
        else:
            print("Out of attempts!")

Enter the secret code:  hoenix

Access denied! 2 attempt(s) left.

Enter the secret code:  hoenix

Access denied! 1 attempt(s) left.

Enter the secret code:  pHOENIX

Access granted! Welcome.

In [285]:
count = 0
n = 100
while n >= 1:
    if n % 3 == 0 and n % 5 == 0:
        print("FizzBuzz", end = " ")
    elif n % 3 == 0:
        print("Fizz", end = " ")
    elif n % 5 == 0:
        print("Buzz", end = " ")
    else:
        print(n, end = " ")
    n -= 1
    count += 1
    if count % 10 ==0:
        print()

Buzz Fizz 98 97 Fizz Buzz 94 Fizz 92 91
FizzBuzz 89 88 Fizz 86 Buzz Fizz 83 82 Fizz
Buzz 79 Fizz 77 76 FizzBuzz 74 73 Fizz 71
Buzz Fizz 68 67 Fizz Buzz 64 Fizz 62 61
FizzBuzz 59 58 Fizz 56 Buzz Fizz 53 52 Fizz
Buzz 49 Fizz 47 46 FizzBuzz 44 43 Fizz 41
Buzz Fizz 38 37 Fizz Buzz 34 Fizz 32 31
FizzBuzz 29 28 Fizz 26 Buzz Fizz 23 22 Fizz
Buzz 19 Fizz 17 16 FizzBuzz 14 13 Fizz 11
Buzz Fizz 8 7 Fizz Buzz 4 Fizz 2 1

In [287]:
n = int(input("Enter the first nonnegative integer: "))
m = int(input("Enter the second nonnegative integer: "))
result = 0
while m >= 1:
    result += n
    m -= 1
print(f"m X n = {result}")

Enter the first nonnegative integer:  12
Enter the second nonnegative integer:  10

m X n = 120

In [289]:
n = int(input("Enter a nonnegative integer: "))
r = 1
i = 1
while i <= n:
    r *= i
    i += 1
print(r)

Enter a nonnegative integer:  6

720

In [291]:
n = int(input("Enter a number: "))
m = 0
while n > 0:    
    n_ones = n % 10
    m = m *10 + n_ones
    n //= 10
print(m)

Enter a number:  654321

123456

In [293]:
u_students = ["Bob", "Jen", "Joe", "Amy"]
c_students = []

while u_students:
    st = u_students.pop()
    print(f"{st} is being verified.")
    c_students.append(st)

print("\nThe following students have been confirmed: ")
i = 1
for item in c_students:
    print(f"{i}-{item}")
    i += 1

Amy is being verified.
Joe is being verified.
Jen is being verified.
Bob is being verified.

The following students have been confirmed:
1-Amy
2-Joe
3-Jen
4-Bob

In [295]:
print(u_students)

[]

In [297]:
print(c_students)

['Amy', 'Joe', 'Jen', 'Bob']

In [299]:
st = ["Amy", "Joe", "Amy", "Jen"]

while "Amy" in st:
    st.remove("Amy")
print(st)

['Joe', 'Jen']

In [303]:
student = ""
while student != "exit":
    student = input("\nEnter your name (or 'exit' to end): ")
    if student != exit:
        print(f"Welcome. {student}!")

Enter your name (or 'exit' to end):  Amy

Welcome. Amy!

Enter your name (or 'exit' to end):  Jim

Welcome. Jim!

Enter your name (or 'exit' to end):  exit

Welcome. exit!

In [307]:
run = True
while run:
    student = input("\nEnter your name (or 'exit' to end): ")
    if student == "exit":
        run = False
    else:
        print(f"Welcome, {student}!")

Enter your name (or 'exit' to end):  Sam

Welcome, Sam!

Enter your name (or 'exit' to end):  Jen

Welcome, Jen!

Enter your name (or 'exit' to end):  exit

In [311]:
invite = "y"
max_invite = 5
count = 0
while invite == "y" and count < max_invite:
    name = input("Whom would you like to invite: ")
    print(f"An invite has been sent to {name}!")
    count += 1
    if count < max_invite:
        invite = input("Would you like to invite more guests (y/n)? ")
    else:
        print("\nYou've reached the maximum number of invites!")
print(f"\n{count} infividuals have been invited!")

Whom would you like to invite:  Amy

An invite has been sent to Amy!

Would you like to invite more guests (y/n)?  y
Whom would you like to invite:  Joe

An invite has been sent to Joe!

Would you like to invite more guests (y/n)?  n

2 infividuals have been invited!

In [313]:
import random
rn = random.randint(1, 10)

while True:
    un = int(input("Take a guess? "))
    if un == rn:
        print("Well done!")
        break
    elif un > rn:
        print("Too high!")
    else:
        print("Too low!")

Take a guess?  5

Too high!

Take a guess?  2

Well done!

# 9.18.24

In [317]:
num = ""
while num != "q":
    num = input("\nEnter an integer (or 'q' to end the application): ")
    if num != "q":
        num = int(num)
        if num % 2 == 0:
            print(f"The number {num} is even.")
        else:
            print(f"The number {num} is odd.")
    else:
        print("Bye")

Enter an integer (or 'q' to end the application):  10

The number 10 is even.

Enter an integer (or 'q' to end the application):  11

The number 11 is odd.

Enter an integer (or 'q' to end the application):  12

The number 12 is even.

Enter an integer (or 'q' to end the application):  -101

The number -101 is odd.

Enter an integer (or 'q' to end the application):  0

The number 0 is even.

Enter an integer (or 'q' to end the application):  q

Bye

In [319]:
repeat = True
while repeat:
    num = input("\nEnter an integer (or 'q' to end the application): ")
    if num.lower() != "q":
        num = int(num)
        if num % 2 == 0:
            print(f"The number {num} is even.")
        else:
            print(f"The number {num} is odd.")
    else:
        print("Bye")
        repeat = False

Enter an integer (or 'q' to end the application):  101

The number 101 is odd.

Enter an integer (or 'q' to end the application):  0

The number 0 is even.

Enter an integer (or 'q' to end the application):  q

Bye

In [324]:
while True:
    num = input("\nEnter an integer (or 'q' to end the application): ")
    if num != "q":
        num = int(num)
        if num % 2 == 0:
            print(f"The number {num} is even.")
        else:
            print(f"The number {num} is odd.")
    else:
        print("Bye")
        break

Enter an integer (or 'q' to end the application):  101

The number 101 is odd.

Enter an integer (or 'q' to end the application):  0

The number 0 is even.

Enter an integer (or 'q' to end the application):  q

Bye

In [326]:
for n in range(1, 21, 1):
    if n % 5 == 0:
        continue
    print(n)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [328]:
n = 0
while n < 20:
    n += 1
    if n % 5 == 0:
        continue
    print(n)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [330]:
# Avoid developing infinite loops
n = 1
while n < 20:
    if n % 5 == 0:
        continue
    print(n)
    n += 1

1
2
3
4

KeyboardInterrupt:

In [1]:
pre_char = ""
word = input("Enter a word: ")
for char in word:
    if char.lower() == "a" or char.lower() == "z":
        continue
    if char != pre_char:
        print(char)
    pre_char = char

Enter a word:  green-zone

g
r
e
n
-
o
n
e

In [3]:
queue = ["P", "D", "P", "R", "R", "D", "R", "P"]

c_reject = 0
n = 0
for order in queue:
    n += 1
    if order == "D":
        print(f"Order {n}: Delayed. Moving to the next order.")
        continue
    elif order == "R":
        c_reject += 1
        print(f"Order {n}: Rejected. Tallying rejection.")
        if c_reject == 3:
            print("Three consecutive rejects. System shut down!")
            break
    else:
        print(f"Order {n}: Processed.")
        c_reject = 0

Order 1: Processed.
Order 2: Delayed. Moving to the next order.
Order 3: Processed.
Order 4: Rejected. Tallying rejection.
Order 5: Rejected. Tallying rejection.
Order 6: Delayed. Moving to the next order.
Order 7: Rejected. Tallying rejection.
Three consecutive rejects. System shut down!

In [7]:
while True:
    score = float(input("\nEnter a test score: "))
    if score >= 0 and score <= 100:
        break
    else:
        print("Invalid test score. Try again!")

Enter a test score:  -1

Invalid test score. Try again!

Enter a test score:  101

Invalid test score. Try again!

Enter a test score:  50

In [9]:
total_s = 0
for i in range(1, 4, 1):
    while True:
        score = float(input("\nEnter a test score: "))
        if score >= 0 and score <= 100:
            total_s += score
            break
        else:
            print("Invalid test score. Try again!")
print(f"\nTotal score is {total_s}.")

Enter a test score:  -1

Invalid test score. Try again!

Enter a test score:  101

Invalid test score. Try again!

Enter a test score:  100

Enter a test score:  101

Invalid test score. Try again!

Enter a test score:  90

Enter a test score:  80

Total score is 270.0.

In [11]:
total_s = 0
for i in range(1, 4, 1):
    repeat = True
    while repeat:
        score = float(input("\nEnter a test score: "))
        if score >= 0 and score <= 100:
            total_s += score
            repeat = False
        else:
            print("Invalid test score. Try again!")
print(f"\n Total score is {total_s}.")

Enter a test score:  101

Invalid test score. Try again!

Enter a test score:  100

Enter a test score:  90

Enter a test score:  95

 Total score is 285.0.

In [13]:
for i in range(1, 100, 1):
    if i % 5 != 0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [17]:
# Dictionaries
d = {"name": "Jim", "GPA": 3.5}
d["GPA"]

3.5

In [19]:
d["name"]

'Jim'

In [29]:
d = {"k1": [5, 6], "k2": {"k3": [10, 11, 12, [20, 21]]}}

In [31]:
d["k2"]["k3"][3][0]

20

In [33]:
d = {"name": "Jim", "GPA": 3.5}
d["phone"]

KeyError: 'phone'

In [35]:
d.get("phone", "No value assigned!")

'No value assigned!'

In [37]:
d

{'name': 'Jim', 'GPA': 3.5}

In [39]:
d["phone"] = "607-111-2222"
d

{'name': 'Jim', 'GPA': 3.5, 'phone': '607-111-2222'}

In [41]:
d.get("name", "dgdsgs")

'Jim'

In [43]:
d = {}
d["name"] = "Jennifer"
d["City"] = "JC"
d

{'name': 'Jennifer', 'City': 'JC'}

In [47]:
d = {"name": "Jim", "GPA": 3.7}
print(f"{d["name"]} has a gpa of {d["GPA"]}.")

Jim has a gpa of 3.7.

In [49]:
del d["GPA"]
d

{'name': 'Jim'}

In [51]:
del d["phone"]

KeyError: 'phone'

In [ ]:
if "phone" in d:
    del d["phone"]

In [53]:
d = {'name': 'Jim', 'GPA': 3.7}
dropped = d.pop("GPA")
dropped

3.7

In [55]:
d = {'name': 'Jim', 'GPA': 3.7}
d.clear()
d

{}

In [57]:
d = {
    "Mike": 3.4,
    "Jennifer": 3.6,
    "Sarah": 3.5,
    "Walter": 3.7,
    }
d

{'Mike': 3.4, 'Jennifer': 3.6, 'Sarah': 3.5, 'Walter': 3.7}

In [59]:
print(f"Mike has a GPA of {d["Mike"]}.")

Mike has a GPA of 3.4.

# 9.23.24

In [1]:
d = {
    "Mike": 3.4,
    "Jen": 3.6,
    "Sarah": 3.5,
    "Walter": 3.7,
    }

i = 1
for k, v in d.items():
    print(f"{i}. {k} {v}")

1. Mike 3.4
1. Jen 3.6
1. Sarah 3.5
1. Walter 3.7

In [3]:
for name, point, in d.items():
    print(f"{name} has a GPA of {point}.")

Mike has a GPA of 3.4.
Jen has a GPA of 3.6.
Sarah has a GPA of 3.5.
Walter has a GPA of 3.7.

In [5]:
d1 = {"burger": 10, "soda": 20, "fries": 30, "salad": 40}
d2 = {"burger": 3, "fries": 5, "beer": 6}

merged = d1.copy()
for k, v in d2.items():
    merged[k] = merged.get(k, 0) + v
print(merged)

{'burger': 13, 'soda': 20, 'fries': 35, 'salad': 40, 'beer': 6}

In [7]:
for name in d.keys():
    print(name)

Mike
Jen
Sarah
Walter

In [9]:
for name in d.keys():
    print(f"Hello, {name}. You have a GPA of {d[name]}.")

Hello, Mike. You have a GPA of 3.4.
Hello, Jen. You have a GPA of 3.6.
Hello, Sarah. You have a GPA of 3.5.
Hello, Walter. You have a GPA of 3.7.

In [13]:
for name in sorted(d.keys(), reverse = True):
    print(f"Hello, {name}. You have a GPA of {d[name]}.")

Hello, Walter. You have a GPA of 3.7.
Hello, Sarah. You have a GPA of 3.5.
Hello, Mike. You have a GPA of 3.4.
Hello, Jen. You have a GPA of 3.6.

In [15]:
for name in sorted(d.keys(), key = len):
    print(f"Hello, {name}. You have a GPA of {d[name]}.")

Hello, Jen. You have a GPA of 3.6.
Hello, Mike. You have a GPA of 3.4.
Hello, Sarah. You have a GPA of 3.5.
Hello, Walter. You have a GPA of 3.7.

In [19]:
for point in d.values():
    print(point)

3.4
3.6
3.5
3.7

In [23]:
d

{'Mike': 3.4, 'Jen': 3.6, 'Sarah': 3.5, 'Walter': 3.7}

In [25]:
d.items()

dict_items([('Mike', 3.4), ('Jen', 3.6), ('Sarah', 3.5), ('Walter', 3.7)])

In [31]:
list(d.items())[-1]

('Walter', 3.7)

In [33]:
d.keys()

dict_keys(['Mike', 'Jen', 'Sarah', 'Walter'])

In [35]:
list(d.values())[0]

3.4

In [40]:
sum(d.values())/len(d)

3.55

In [42]:
sum_gpa = n = 0
for point in d.values():
    sum_gpa += point
    n += 1
sum_gpa/n

3.55

In [46]:
avg = sum(d.values())/len(d)
for k, v, in d.items():
    if v > avg:
        print(k)

Jen
Walter

In [48]:
d = {}
for n in range(1, 10, 1):
    d[n] = n ** 2

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [50]:
{n: n ** 3 for n in range(1, 10, 1) if n % 2 == 1}

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [56]:
states = {
    "NY": "Albany",
    "NJ": "Trenton",
    "NE": "Lincoln",
    }
{v: k for k, v in states.items()}

{'Albany': 'NY', 'Trenton': 'NJ', 'Lincoln': 'NE'}

In [58]:
products = {
    "Laptop": "available",
    "Desktop": "out of stock",
    "Keyboard": "available",
    "Monitor": "out of stock",
}

{k: v for k, v in products.items() if v == "out of stock"}

{'Desktop': 'out of stock', 'Monitor': 'out of stock'}

In [60]:
st0 = {"name": "Mike", "GPA": 3.4}
st1 = {"name": "Jen", "GPA": 3.6}
st2 = {"name": "Sarah", "GPA": 3.5}
st3 = {"name": "Walter", "GPA": 3.7}

In [64]:
# dictionaries nested within a list
students = [st0, st1, st2, st3]
print(students)

[{'name': 'Mike', 'GPA': 3.4}, {'name': 'Jen', 'GPA': 3.6}, {'name': 'Sarah', 'GPA': 3.5}, {'name': 'Walter', 'GPA': 3.7}]

In [66]:
for v in students[-1].values():
    print(v)

Walter
3.7

In [68]:
sum_gpa = n = 0
for student in students:
    sum_gpa += student["GPA"]
    n += 1
sum_gpa/n

3.55

In [70]:
mylist = ["1", "2", "a", "b"]

import random
random.shuffle(mylist)
mylist

['a', 'b', '2', '1']

In [72]:
n = random.randint(100, 1000)
print(n)

527

In [79]:
digits = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
while digits[0] == "0":
    random.shuffle(digits)
str_n = ""
for i in range(0, 3, 1):
    str_n += digits[i]
str_n

'982'

# 9.25.24

In [5]:
d = {"Mike": 92, "Jen": 87, "Sam": 93, "Alex": 79}
for k, v in d.items():
    print(f"{k}'s score is {v}.")

Mike's score is 92.
Jen's score is 87.
Sam's score is 93.
Alex's score is 79.

In [7]:
count = 0 
for score in d.values():
    if score >= 80:
        count += 1
print(count)

3

In [9]:
itemnums = [101, 102, 103, 201, 202]
price = [10, 9, 8, 2, 1]
order = {101: 4, 201: 1, 202: 3}

subt = 0
for itemnum in order.keys():
    for i in range(len(itemnums)):
        if itemnum == itemnums[i]:
            subt += price[i] * order[itemnum]
print(f"${subt}")

$45

In [11]:
mylist = [10, 11, "Terry", 11, 12]
mylist.index(11)

1

In [13]:
"Jennifer".index("n")

2

In [15]:
subt = 0
for itemnum in order.keys():
    i = itemnums.index(itemnum)
    subt += price[i] * order[itemnum]
print(f"${subt}")

$45

In [19]:
concent = {
    "Mike": ["MIS", "Accounting"],
    "Jen": ["Marketing"],
    "Sarah": ["MIS", "Marketing", "SCM"],
    "Walter": ["Accounting", "Finance"],
    }

for name, areas in concent.items():
    if len(areas) == 1:
        print(f"\n{name}'s area is:")
    else:
        print(f"\n{name}'s areas are:")
    for area in areas:
        print(f"\t{area}")

Mike's areas are:
	MIS
	Accounting

Jen's area is:
	Marketing

Sarah's areas are:
	MIS
	Marketing
	SCM

Walter's areas are:
	Accounting
	Finance

In [29]:
grades = {
    "Amy": [85, 90, 83],
    "Ben": [92, 88, 81],
    "Bob": [80, 78, 85],
    "Kim": [84, 79, 89],
    }

avg_score = {name: sum(scores)/len(scores) for name, scores in grades.items()}
print(avg_score)

top_score = max(avg_score.values())
print(top_score)

top_students = [name for name, score in avg_score.items() if score == top_score]
print(top_students)

{'Amy': 86.0, 'Ben': 87.0, 'Bob': 81.0, 'Kim': 84.0}
87.0
['Ben']

In [32]:
myset = {1, 2, 3, 1}
print(myset)

{1, 2, 3}

In [34]:
myset[0]

TypeError: 'set' object is not subscriptable

In [36]:
s = set()
s

set()

In [38]:
mylist = [1, 2, "5th Street", 1]
set(mylist)

{1, 2, '5th Street'}

In [40]:
set("5th Street")

{' ', '5', 'S', 'e', 'h', 'r', 't'}

In [44]:
d = {"Mike": 92, "Jen": 87, "Sam": 93, "Alex": 79}
set(d)

{'Alex', 'Jen', 'Mike', 'Sam'}

In [48]:
s = set()
s.add(4)
s

{4}

In [50]:
s.add(5)
s

{4, 5}

In [52]:
s.update([4, 5, 6])
s

{4, 5, 6}

In [54]:
s.remove(4)
s

{5, 6}

In [56]:
s = set()
for n in range(1, 21, 1):
    s.add(n)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [58]:
for i in s:
    if i % 3 == 0:
        s.remove(i)

RuntimeError: Set changed size during iteration

In [62]:
s = set()
for n in range(1, 21, 1):
    s.add(n)
for i in s.copy():
    if i % 3 != 0:
        s.remove(i)
s

{3, 6, 9, 12, 15, 18}

In [64]:
# Set Comprehension
even  = {2*n for n in range(0, 5, 1)}
even

{0, 2, 4, 6, 8}

In [66]:
sub_even = {item for item in even if even if item > 0 and item < 8}
sub_even

{2, 4, 6}

In [68]:
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {-1, 1, 3, 5, 7}

inter = set()
for item in myset1:
    if item in myset2:
        inter.add(item)
inter

{1, 3, 5}

In [70]:
intersect = {value for value in myset1 if value in myset}
intersect

{1, 2, 3}

In [72]:
mylist = [10, -20, "Abigail"]
len(mylist)

3

In [76]:
# Functions

def mylenfunc(obj):
    """Count the number of elements in obj."""
    n = 0
    for x in obj:
        n += 1
    print(n)
mylenfunc("mylist")

6

In [78]:
def message(name):
    print(f"Hello {name}!")
message("Jennifer")

Hello Jennifer!

In [80]:
def avg():
    n1 = float(input("Enter the 1st number: "))
    n2 = float(input("Enter the 2nd number: "))
    m = (n1 + n2)/2
    print(m)
avg()

Enter the 1st number:  4
Enter the 2nd number:  -2.5

0.75

In [82]:
def avg2(x, y):
    print((x + y)/2)
avg2(4, -2.5)

0.75

# 9.30.24

In [5]:
def verify (u_students, c_students):
    while u_students:
        st = u_students.pop()
        print(f"{st} is being verified.")
        c_students.append(st)

def display(c_students):
    print("\nThe following students have been verified:")
    i = 1
    for name in c_students:
        print(f"{i}. {name}")
        i += 1

u = ["Amy", "Jim", "Bob", "Mia"]
c = []
verify(u, c)
display(c)

Mia is being verified.
Bob is being verified.
Jim is being verified.
Amy is being verified.

The following students have been verified:
1. Mia
2. Bob
3. Jim
4. Amy

In [9]:
def sos(n1, n2):
    print(n1**2 + n2**2)

sos(-2, 1.5)

6.25

In [11]:
def sos(n1, n2):
    result = n1**2 + n2**2
    return result

sos(-1, 0)

1

In [13]:
value = sos(1, 2)
value

5

In [15]:
def full_name(first, middle, last):
    name = f"{first} {middle} {last}"
    return name

actor = full_name("Michael", "C.", "Hall")
actor

'Michael C. Hall'

In [17]:
def is_even(n):
    if n % 2 == 0:
        return True
    return False

is_even(-101)

False

In [21]:
def factorial(n):
    r = 1
    for i in range(1, n+1, 1):
        r *= i
    return r

m = int(input("Enter an integer: "))
if m >= 0:
    outcome = factorial(m)
    print(f"{m}! is {outcome}.")
else:
    print("Factorial underfined!")

Enter an integer:  6

6! is 720.

In [23]:
def full_name(first, middle, last):
    return first[0], middle[0], last[0]

full_name("Sarah", "Jane", "Smith")

('S', 'J', 'S')

In [25]:
def extremum(nums):
    return min(nums), max(nums)

numbers = [3, 1, -4, -1, 5, 2]

In [27]:
# Unpacking

low, high = extremum(numbers)
low

-4

In [29]:
high

5

In [31]:
mylist = [10, 20, 30]
x, y, z = mylist
z

30

In [33]:
mytuple = (1, 2, 3, 4)
a, b, c, d = mytuple
b

2

In [35]:
data = ["Sue", [85, 90, 88, 92], 2013]
name, scores, year = data
scores

[85, 90, 88, 92]

In [37]:
mylist = ["a", "b"]
i1, i2, i3 = mylist

ValueError: not enough values to unpack (expected 3, got 2)

In [39]:
a, *b, c = (1, 2, 3)
a

1

In [41]:
b

[2]

In [43]:
a, *b, c = [1, 2, 3, 4, 5, 6]
b

[2, 3, 4, 5]

In [47]:
a, *b = [1, 2, 3, 4, 5, 6]
b

[2, 3, 4, 5, 6]

In [49]:
*a, b = [1, 2, 3, 4, 5, 6]
a

[1, 2, 3, 4, 5]

In [13]:
*a = [1, 2, 3, 4, 5, 6]
a

SyntaxError: starred assignment target must be in a list or tuple (1574799895.py, line 1)

In [55]:
students = [
    ("Jen", "MIS", 3.5),
    ("Bob", "SCM", 3.6),
    ("Sue", "Marketing", 3.4)
    ]

for name, area, gpa in students:
    print(f"Name: {name}, Area: {area}, GPA: {gpa}")

Name: Jen, Area: MIS, GPA: 3.5
Name: Bob, Area: SCM, GPA: 3.6
Name: Sue, Area: Marketing, GPA: 3.4

In [57]:
for name, *info in students:
    print(f"{info[1]}")

3.5
3.6
3.4

In [59]:
def gpa(x):
    return x[2]

s_students = sorted(students, key = gpa)
s_students

[('Sue', 'Marketing', 3.4), ('Jen', 'MIS', 3.5), ('Bob', 'SCM', 3.6)]

In [61]:
for name, *info in s_students:
    print(f"{info[1]}")

3.4
3.5
3.6

In [65]:
sorted_students = sorted(students, key = lambda mytuple: mytuple[2])
sorted_students

[('Sue', 'Marketing', 3.4), ('Jen', 'MIS', 3.5), ('Bob', 'SCM', 3.6)]

In [67]:
myt = (1, 2, 3, 4)
print(*myt)

1 2 3 4

In [69]:
mydict = {"a": 1, "b": 2}
print(*mydict)

a b

In [71]:
def add(x, y, z):
    return x+y+z

values = [1, 2, 3]
add(*values)

6

In [1]:
def func(a, b, c, d, e, f):
    print(a, b, c, d, e, f)

x1 = [1, 2]
x2 = [30, 40, 50]
func(*x1, *x2, 600)

1 2 30 40 50 600

In [3]:
a = [1, 2]
b = [*a, 40, 50]
print(b)

[1, 2, 40, 50]

In [5]:
scores = [88, 96, 89, 90, 88, 94, 87, 90, 92]

opener, *middle, finale = scores
avg_middle = sum(middle)/len(middle)

print(f"Season opener: {opener}")
print(f"Season finale: {finale}")
print(f"The rest of the games on average: {avg_middle: .2f}")

Season opener: 88
Season finale: 92
The rest of the games on average:  90.57

In [7]:
prices = [
    ("Mon", 100, 120, 97, 105),
    ("Tue", 104, 112, 101, 107),
    ("Wed", 105, 110, 104, 108),
    #and so on for the rest of the weekdays
]

In [9]:
t_open = t_close = 0
for data in prices:
    day, openn, *rest, close = data
    t_open += openn
    t_close += close
    
print(t_open/len(prices))
print(t_close/len(prices))

103.0
106.66666666666667

In [11]:
print(f"{t_close/len(prices): .2f}")

 106.67

# 10.07.24

In [13]:
def max_finder(x, y, z):
    if x >= y and x >= z:
        greatest = x
    elif y >= x and y >= z:
        greatest = y
    else:
        greatest = z
    return greatest

max_finder(10, 5, -10)

10

In [17]:
# Default Arguments
def max_finder(x, y, z = 20):
    if x >= y and x >= z:
        greatest = x
    elif y >= x and y >= z:
        greatest = y
    else: 
        greatest = z
    return greatest

max_finder(-1, 30)

30

In [19]:
age = int(input("How old are you? "))
status = "Adult" if age >= 18 else "Minor"
print(status)

How old are you?  21

Adult

In [21]:
def is_even(n):
    return True if n % 2 == 0 else False

is_even(-1)

False

In [25]:
# Positional and keyword arguments
def test_result(name, subject, score):
    status = "passed" if score >= 60 else "false"
    return f"{name} {status} {subject}."

In [27]:
# Positional Arguments
test_result("Alex", "English", 81)

'Alex passed English.'

In [31]:
# Keyword Arguments
test_result(subject = "English", score = 81, name = "Alex")

'Alex passed English.'

In [33]:
def full_name(first, last, middle = ""):
    if middle:
        name = f"{first} {middle} {last}"
    else:
        name = f"{first} {last}"
    return name

In [35]:
full_name("Michael", "Jackson", "J.")

'Michael J. Jackson'

In [37]:
full_name("Michael", "Jackson")

'Michael Jackson'

In [39]:
def student_info(first, last, gpa = None):
    data = {"first name": first, "last name": last}
    if gpa:
        data["GPA"] = gpa
    return data

In [41]:
student_info("John", "Smith", 3.5)

{'first name': 'John', 'last name': 'Smith', 'GPA': 3.5}

In [47]:
def full_name(first, last):
    return f"{first.capitalize()} {last.capitalize()}"

while True:
    forename = input("Enter your first name (or 'q'): ")
    if forename.lower() == "q":
        break

    surname = input("Enter your last name (or 'q'): ")
    if surname.lower() == "q":
        break

    print(f"\nWelcome {full_name(forename, surname)}!")
    if input("\nIs there another name (y/n): ").lower() != "y":
        break

Enter your first name (or 'q'):  matt
Enter your last name (or 'q'):  sabony

Welcome Matt Sabony!

Is there another name (y/n):  y
Enter your first name (or 'q'):  q

In [53]:
def vowel(word):
    v = "aeiou"
    result = set()
    for char in word:
        if char in v:
            result.add(char)
    return result

string = input("Enter your word: ")
vowel(string)

Enter your word:  olivia

{'a', 'i', 'o'}

In [55]:
# The split() Method
mytext = "hello, welcome to class!"
mytext.split()

['hello,', 'welcome', 'to', 'class!']

In [57]:
mytext = "the #MeToo movement"
mytext.split("#")[1]

'MeToo movement'

In [59]:
"Jen_Williams@gmail.com".split("@")

['Jen_Williams', 'gmail.com']

In [67]:
def word_count(phrase, word):
    count = 0
    for item in phrase.lower().split():
        if item == word.lower():
            count += 1   
    return count

p = input("Enter your phrase: ")
w = input("Enter your word: ")
word_count(p, w)

Enter your phrase:  Mike may propose to May in May
Enter your word:  MAY

3

In [69]:
def backward(word):
    result = ""
    i = -1
    for char in word:
        result += word[i]
        i -= 1
    return result

word = input("Enter your word: ")
backward(word)

Enter your word:  smart

'trams'

In [75]:
def letter_count(word):
    result = {}
    for char in word.lower():
        if char not in result.keys():
            result[char] = 1
        else:
            result[char] += 1
    return result

word = input("Enter a word: ")
letter_count(word)

Enter a word:  Abigail

{'a': 2, 'b': 1, 'i': 2, 'g': 1, 'l': 1}

# 10.9.24

In [3]:
# Collecting an arbitrary number of positional arguments with *args
def display_students(*names):
    print(names)

display_students("Jim", "Jen", "Joe", "John")

('Jim', 'Jen', 'Joe', 'John')

In [7]:
def display_students(*names):
    for name in names:
        print(f"Welcome {name}!")

display_students("Sue", "Jack")

Welcome Sue!
Welcome Jack!

In [9]:
def add(*xs):
    result = 0
    for x in xs:
        result += x
    print(result)

add(-1.5, 10, 0, 100)

108.5

In [13]:
def avg(*values):
    return sum(values)/len(values)

avg(1, -1, 300)

100.0

In [15]:
def avg(*values):
    summ = n = 0
    for value in values:
        summ += value
        n += 1
    print(summ/n)

avg(-1, 1, 300, -50)

62.5

In [21]:
def merge(*ds):
    result = {}
    for d in ds:
        for k, v in d.items():
            result[k] = v
    return result

d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4, "d": 6}
d3 = {"c": 5, "d": 7, "e": 8}

merge(d1, d2, d3)

{'a': 1, 'b': 3, 'c': 5, 'd': 7, 'e': 8}

In [27]:
def enrolled_students(course, *names):
    print(f"The following students enrolled in {course}.")
    for name in names:
        print(f"\t{name}")

enrolled_students("MIS525", "Jess", "Jen", "Jim")

The following students enrolled in MIS525.
	Jess
	Jen
	Jim

In [29]:
# Collecting an arbitrary number of keyword arguments with **kwargs
def student_information(**info):
    return info

student_information(first_name = "Jim", last_name = "Johnson", area = "MIS", gpa = 3.6)

{'first_name': 'Jim', 'last_name': 'Johnson', 'area': 'MIS', 'gpa': 3.6}

In [31]:
def student_info(first, last, **info):
    info["first_name"] = first
    info["last_name"] = last
    return info

student_info("Mary", "Davis", major = "SCM", GPA = 3.9)

{'major': 'SCM', 'GPA': 3.9, 'first_name': 'Mary', 'last_name': 'Davis'}

In [33]:
# Function recursion
def greet():
    name = input("\nEnter your name (or 'q' to end the application): ")
    if name.lower() != "q":
        print(f"Hello {name}!")
        greet()

greet()

Enter your name (or 'q' to end the application):  Sam

Hello Sam!

Enter your name (or 'q' to end the application):  Jen

Hello Jen!

Enter your name (or 'q' to end the application):  q

In [35]:
def fibo(n):
    if n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibo(n-2) + fibo(n-1)

fibo(6)

5

In [37]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)

factorial(6)

720

In [39]:
def times_two(var):
    return var*2

times_two(-5)

-10

In [41]:
# Lambda functions
tt = lambda x: 2*x

tt(-1)

-2

In [43]:
m = lambda x, y: (x+y)/2

m(-1, 101)

50.0

In [51]:
def multiplier(n):
    return lambda x: x*n

In [55]:
tripler = multiplier(3)
tripler(-101)

-303

In [53]:
doubler = multiplier(2)
doubler(5)

10

In [57]:
names = ["Chelsy", "Jen", "April", "Mike"]
print(sorted(names))

['April', 'Chelsy', 'Jen', 'Mike']

In [59]:
print(sorted(names, key = str))

['April', 'Chelsy', 'Jen', 'Mike']

In [61]:
def last_char(s):
    return s[-1]

sorted(names, key = last_char)

['Mike', 'April', 'Jen', 'Chelsy']

In [65]:
sorted(names, key = lambda word: word[-1])

['Mike', 'April', 'Jen', 'Chelsy']

In [67]:
data = [[1, 2, 3], [3, 1, 2], [2, 3, 1]]
sorted(data, key = lambda mylist:mylist[1])

[[3, 1, 2], [1, 2, 3], [2, 3, 1]]

In [69]:
students = [
    ("Joe", "M", 20),
    ("Jane", "F", 23),
    ("Alex", "M", 21),
    ]

max(students, key = lambda x: x[2])[0]

'Jane'

In [71]:
movies = [
    {"title": "Inception", "year": 2010},
    {"title": "The Game", "year": 1997},
    {"title": "Jaws", "year": 1975},
    {"title": "Dunkirk", "year": 2017},
    {"title": "First Blood", "year": 1982},
    ]

s_movies = sorted(movies, key = lambda d: d["year"])
s_movies

[{'title': 'Jaws', 'year': 1975},
 {'title': 'First Blood', 'year': 1982},
 {'title': 'The Game', 'year': 1997},
 {'title': 'Inception', 'year': 2010},
 {'title': 'Dunkirk', 'year': 2017}]

In [73]:
for movie in s_movies:
    print(movie["title"], movie["year"])

Jaws 1975
First Blood 1982
The Game 1997
Inception 2010
Dunkirk 2017

In [75]:
s_movies = sorted(movies, key = lambda d: len(d["title"]))
for movie in s_movies:
    print(movie["title"], movie["year"])

Jaws 1975
Dunkirk 2017
The Game 1997
Inception 2010
First Blood 1982

# 10.14.24

In [1]:
# Strings

name = "Michael"
for char in name:
    char = "X"
print(name)

Michael

In [3]:
def letter_count():
    count = 0
    for char in string:
        if char.lower() == letter.lower():
            count += 1
    print(f"The letter '{letter}' has appeared {count} time(s).")

string = input("Enter a sentence: ")
letter = input("Enter a letter: ")
letter_count()

Enter a sentence:  I met Tim Burton today.
Enter a letter:  t

The letter 't' has appeared 4 time(s).

In [5]:
mystring = "Jen Williams"
mystring[0]

'J'

In [7]:
mystring[11]

's'

In [9]:
len(mystring)

12

In [11]:
mystring[-4]

'i'

In [13]:
def indexing():
    index = 0
    for char in word:
        print(char + ":" + f"{index}")
        index += 1
word = input("Enter a word: ")
indexing()

Enter a word:  hello

h:0
e:1
l:2
l:3
o:4

In [15]:
# The index() method
name = "Adam"
name.index("a")

2

In [17]:
mystring = "abc"
mystring += "def"
mystring

'abcdef'

In [21]:
mystring = "xyz "
mystring * 5

'xyz xyz xyz xyz xyz '

In [23]:
mystring = "Tara"
mystring[0] = "Z"

TypeError: 'str' object does not support item assignment

In [25]:
name = "Mary Anne Smith"

In [29]:
# Slicing
name[5:9]

'Anne'

In [31]:
name[:4]

'Mary'

In [33]:
name[10:]

'Smith'

In [35]:
name[:]

'Mary Anne Smith'

In [37]:
name[::-2]

'hiSen rM'

In [39]:
word = input("Enter a word: ")
word[::-1]

Enter a word:  time

'emit'

In [41]:
def in_both(w1, w2):
    common = set()
    for char in w1:
        if char in w2:
            common.add(char)
    return common

in_both("hello", "goodbye")

{'e', 'o'}

In [45]:
def unique_chars(s):
    for i in range(len(s)):
        if s[i] in s[i+1:]:
            return False
    return True

unique_chars("every")

False

In [51]:
mystring = "abc01!2"
mystring.isalnum()

False

In [53]:
mystring = "abc1"
mystring.isalpha()

False

In [57]:
mystring = "-5"
mystring.isdigit()

False

In [59]:
while True:
    age = input("\nHow old are you? ")
    if age.isdigit():
        break
    print("Invalid. Try again!")

How old are you?  25.5

Invalid. Try again!

How old are you?  Twenty five

Invalid. Try again!

How old are you?  25

# 10.16.24

In [1]:
mys = "xyz23$"
mys.isalnum()

False

In [3]:
mys = "xyz23"
mys.isalpha()

False

In [5]:
mys = "-123"
mys.isdigit()

False

In [7]:
mys = "    6 "
mys.isspace()

False

In [9]:
mys = "HELLO WORLD 2024!"
mys.istitle()

False

In [11]:
mys = "Hi all. It is 2024!"
print(mys.lower())
print(mys.upper())
print(mys.title())
print(mys)

hi all. it is 2024!
HI ALL. IT IS 2024!
Hi All. It Is 2024!
Hi all. It is 2024!

In [13]:
p1 = input("Enter a password: ")
long = uc = lc = digit = False
for char in p1:
    if char.islower():
        lc = True
    if char.isupper():
        uc = True
    if char.isdigit():
        digit = True
if len(p1) >= 6:
    long = True
if (long and uc and lc and digit) != True:
    print("THe password is not strong!")
else:
    p2 = input("Re-enter the password: ")
    if p1 == p2:
        print("You are all set!")
    elif p1.lower() == p2.lower():
        print("Case inconsistency!")
    else:
        print("Entries do not match!")

Enter a password:  Sam123
Re-enter the password:  SaM123

Case inconsistency!

In [15]:
mys = "  Joe Black "
mys.rstrip()

'  Joe Black'

In [17]:
mys = "hello hannah"
mys.strip("h")

'ello hanna'

In [19]:
n = input("Enter an integer: ")
while not n.lstrip("-").isdigit():
    n = input("Invalid! Try again: ")

Enter an integer:  -101

In [21]:
mys = "hello welcome to class"
mys.split()

['hello', 'welcome', 'to', 'class']

In [23]:
mys = "I #Love #New York"
mys.split("#")

['I ', 'Love ', 'New York']

In [25]:
mylist = ["hello", "welcome", "to", "class"]
" ".join(mylist)

'hello welcome to class'

In [29]:
def initials(name):
    mylist = [word[0] for word in name.split()]
    initials = "".join(mylist)
    return initials

initials("Jane Amanda Doe")

'JAD'

In [35]:
def initials(name):
    return "".join([word[0] for word in name.split()])

initials("John Fitzgerals Kennedy")

'JFK'

In [3]:
def palindrome(s):
    mylist = [char.lower() for char in s if char.isalnum()]
    print(mylist)
    clean_s = "".join(mylist)
    print(clean_s)
    if clean_s == clean_s[::-1]:
        return True
    return False

palindrome("2Rad!@#ar2")

['2', 'r', 'a', 'd', 'a', 'r', '2']
2radar2

True

In [41]:
def palindrome(s):
    mylist = [char.lower() for char in s if char.isalnum()]
    return "".join(mylist) == "".join(mylist)[::-1]

palindrome("2Rad!@#ar2")

True

In [43]:
words = ["Hello", "dlroW", "morF", "ehT", "USA"]

def fix_and_join(words):
    fixed_words = [word[::-1] if word[:1].islower() and word[-1].isupper() else word for word in words]
    return " ".join(fixed_words)

fix_and_join(words)

'Hello World From The USA'

In [45]:
word = ""

In [47]:
word[0]

IndexError: string index out of range

In [51]:
word = input("Enter a word: ")
lead_nl = ""
while len(word) > 0 and not word[0].isalpha():
    lead_nl += word[0]
    word = word[1:]
print(f"\nLeading non-letters: {lead_nl}")
if len(word) == 0:
    print("Your word has only non-letters!")
else:
    print(f"Word: {word}")

Enter a word:  #1school

Leading non-letters: #1
Word: school

# 10.21.24

In [7]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
mystring = "Harrison"
shifted_string = ""

for char in mystring:
    upper = char.isupper()
    char = char.lower()
    i = alphabet.index(char)
    i += 1
    shifted_char = alphabet[i]
    if upper:
        shifted_char = shifted_char.upper()
    shifted_string += shifted_char
print(shifted_string)

Ibssjtpo

In [9]:
mys = "hello joe how are you joe?"
mys.startswith("ell")

False

In [11]:
mys = "hello joe how are you joe?"
mys.endswith("oe?")

True

In [19]:
mys.find("Joe")

-1

In [17]:
mys.replace("joe", "jill")

'hello jill how are you jill?'

In [21]:
x = "abcd"
y = 1.5
x + str(y)

'abcd1.5'

In [5]:
# Escape characters
print("I\'m Sam. \nHow are you?")
print(r"I\'m Sam. \nHow are you?")

I'm Sam.
How are you?
I\'m Sam. \nHow are you?

In [9]:
# Files
# Text Files
myfile = "C:/Users/msabo/iCloudDrive/Desktop/Binghamton/7. Fall 2024/MIS-525/history.txt"

In [7]:
# To identify your username
import getpass
getpass.getuser()

'msabo'

In [9]:
with open(myfile) as file_object:
    contents = file_object.read()
print(contents)

History is subject to geology. Every day the sea encroaches somewhere
upon the land, or the land upon the sea; cities disappear under the water,
and sunken cathedrals ring their melancholy bells. Mountains rise and fall
in the rhythm of emergence and erosion; rivers swell and flood, or dry up,
or change their course; valleys become deserts, and isthmuses become straits.

In [11]:
file_object = open(myfile)
text = file_object.read()
file_object.close()

print(text.rstrip())

History is subject to geology. Every day the sea encroaches somewhere
upon the land, or the land upon the sea; cities disappear under the water,
and sunken cathedrals ring their melancholy bells. Mountains rise and fall
in the rhythm of emergence and erosion; rivers swell and flood, or dry up,
or change their course; valleys become deserts, and isthmuses become straits.

In [45]:
myobj = "MIS 101"
for x in myobj:
    print(x)

M
I
S

1
0
1

In [13]:
with open(myfile) as myobj:
    for x in myobj:
        print(x.rstrip())

History is subject to geology. Every day the sea encroaches somewhere
upon the land, or the land upon the sea; cities disappear under the water,
and sunken cathedrals ring their melancholy bells. Mountains rise and fall
in the rhythm of emergence and erosion; rivers swell and flood, or dry up,
or change their course; valleys become deserts, and isthmuses become straits.

In [11]:
with open(myfile) as file_object:
    for line in file_object:
        print(line.rstrip(), end = " ")

History is subject to geology. Every day the sea encroaches somewhere upon the land, or the land upon the sea; cities disappear under the water, and sunken cathedrals ring their melancholy bells. Mountains rise and fall in the rhythm of emergence and erosion; rivers swell and flood, or dry up, or change their course; valleys become deserts, and isthmuses become straits.

In [17]:
n = 1
with open(myfile) as file_object:
    for line in file_object:
        print(f"Line #{n}", line.rstrip())
        n += 1

Line #1 History is subject to geology. Every day the sea encroaches somewhere
Line #2 upon the land, or the land upon the sea; cities disappear under the water,
Line #3 and sunken cathedrals ring their melancholy bells. Mountains rise and fall
Line #4 in the rhythm of emergence and erosion; rivers swell and flood, or dry up,
Line #5 or change their course; valleys become deserts, and isthmuses become straits.

# 10.23.24

In [21]:
myfile = "C:/Users/msabo/iCloudDrive/Desktop/Binghamton/7. Fall 2024/MIS-525/history.txt"
with open(myfile) as file_object:
    contents = file_object.read()
print(contents.rstrip())

History is subject to geology. Every day the sea encroaches somewhere
upon the land, or the land upon the sea; cities disappear under the water,
and sunken cathedrals ring their melancholy bells. Mountains rise and fall
in the rhythm of emergence and erosion; rivers swell and flood, or dry up,
or change their course; valleys become deserts, and isthmuses become straits.

In [23]:
with open(myfile) as myobj:
    for x in myobj:
        print(x)

History is subject to geology. Every day the sea encroaches somewhere

upon the land, or the land upon the sea; cities disappear under the water,

and sunken cathedrals ring their melancholy bells. Mountains rise and fall

in the rhythm of emergence and erosion; rivers swell and flood, or dry up,

or change their course; valleys become deserts, and isthmuses become straits.

In [25]:
with open(myfile) as fo:
    lines = fo.readlines()
lines

['History is subject to geology. Every day the sea encroaches somewhere\n',
 'upon the land, or the land upon the sea; cities disappear under the water,\n',
 'and sunken cathedrals ring their melancholy bells. Mountains rise and fall\n',
 'in the rhythm of emergence and erosion; rivers swell and flood, or dry up,\n',
 'or change their course; valleys become deserts, and isthmuses become straits.']

In [27]:
with open(myfile) as fo:
    lines = fo.readlines()
len(lines)

5

In [29]:
with open(myfile) as fo:
    lines = fo.readlines()
    text = "".join(lines)
words = text.split()
print(len(lines))
print(len(words))

5
61

In [31]:
with open(myfile) as f:
    lines = f.readlines()
print(lines)

['History is subject to geology. Every day the sea encroaches somewhere\n', 'upon the land, or the land upon the sea; cities disappear under the water,\n', 'and sunken cathedrals ring their melancholy bells. Mountains rise and fall\n', 'in the rhythm of emergence and erosion; rivers swell and flood, or dry up,\n', 'or change their course; valleys become deserts, and isthmuses become straits.']

In [33]:
with open(myfile) as f:
    words = f.read().lower().split()

word = input("Enter a word: ")
count = 0
for term in words:
    if word.lower() in term:
        count += 1
print(count)

Enter a word:  SEA

2

In [35]:
with open(myfile) as f:
    words = f.read().lower().split()

unique_words = set(words)
print(len(unique_words))

47

In [17]:
myfile = "mis.txt"
with open(myfile, "w") as f: # write mode
    f.write("Binghamton University\n")

In [19]:
with open(myfile, "a") as f: # append mode
    f.write("SOM\n")

In [21]:
f = open(myfile, "r") # read mode
text = f.read()
f.close()
print(text)

Binghamton University
SOM

In [47]:
myfile = "C:/Users/msabo/iCloudDrive/Desktop/Binghamton/7. Fall 2024/MIS-525/history.txt"
with open(myfile) as fo:
    line1 = fo.readline()
    line2 = fo.readline()
    line3 = fo.readline()
print(line1)
print(line2)
print(line3)

History is subject to geology. Every day the sea encroaches somewhere

upon the land, or the land upon the sea; cities disappear under the water,

and sunken cathedrals ring their melancholy bells. Mountains rise and fall

In [51]:
myfile = "C:/Users/msabo/iCloudDrive/Desktop/Binghamton/7. Fall 2024/MIS-525/history.txt"
with open(myfile) as fo:
    words = fo.read().lower().split()

d = {}
for word in words:
    if word in d:
        d[word] += 1
    else:
        d[word] = 1
        
most_frequent_word = None
max_count = 0

for word, count in d.items():
    if count > max_count:
        max_count = count
        most_frequent_word = word

print(most_frequent_word)
print(max_count)

the
6

In [53]:
# CSV files

myfile = "students.csv"
with open(myfile, "w") as f:
    new_record = "Jeff,Smith,3.6\n"
    f.write(new_record)

In [55]:
first = input("Enter a first name: ")
last = input("Enter a last name: ")
gpa = input("Enter a GPA: ")

new_record = first + "," + last + "," + gpa + "\n"
with open(myfile, "a") as f:
    f.write(new_record)

Enter a first name:  Alex
Enter a last name:  Davis
Enter a GPA:  3.5

In [57]:
first = input("Enter a first name: ")
last = input("Enter a last name: ")
gpa = input("Enter a GPA: ")

new_record = first + "," + last + "," + gpa + "\n"
with open(myfile, "a") as f:
    f.write(new_record)

Enter a first name:  Jennifer
Enter a last name:  Williams
Enter a GPA:  3.7

In [59]:
with open(myfile) as f:
    for x in f:
        print(x)

Jeff,Smith,3.6

Alex,Davis,3.5

Jennifer,Williams,3.7

In [61]:
import csv
with open(myfile, "r") as fo:
    reader_object = csv.reader(fo)
    rows = list(reader_object)
rows

[['Jeff', 'Smith', '3.6'],
 ['Alex', 'Davis', '3.5'],
 ['Jennifer', 'Williams', '3.7']]

In [63]:
with open(myfile) as fo:
    rows = list(csv.reader(fo))

In [67]:
rows[2][1] = "Williamson"
rows

[['Jeff', 'Smith', '3.6'],
 ['Alex', 'Davis', '3.5'],
 ['Jennifer', 'Williamson', '3.7']]

# 10.28.24

In [73]:
first = input("Enter a first name: ")
last = input("Enter a last name: ")
gpa = input("Enter a GPA: ")
new_record = first + "," + last + "," + gpa + "\n"

myfile = "C:/Users/msabo/iCloudDrive/Desktop/Binghamton/7. Fall 2024/MIS-525/students.csv"
with open(myfile, "a") as f:
    f.write(new_record)

Enter a first name:  Jennifer
Enter a last name:  Williams
Enter a GPA:  3.7

In [75]:
f = open(myfile, "r")
for row in f:
    print(row)
f.close()

Jennifer,Williams,3.7

In [77]:
import csv
with open(myfile, "r") as f:
    rows = list(csv.reader(f))
    
rows

[['Jennifer', 'Williams', '3.7']]

In [79]:
for row in rows:
    print(row[2])

3.7

In [81]:
summ = n = 0
for row in rows:
    summ += float(row[2])
    n += 1
summ/n

3.7

In [83]:
while True:
    exist = False
    search = input("Enter a first or last name (or 'q' to end): ")
    if search.lower() == "q":
        break
    else:
        f = open(myfile, "r")
        for row in f:
            if search in row:
                print(row)
                exist = True
        if exist == False:
            print("No such record!")
        f.close()

Enter a first or last name (or 'q' to end):  Will

Jennifer,Williams,3.7

Enter a first or last name (or 'q' to end):  Al

No such record!

Enter a first or last name (or 'q' to end):  q

In [85]:
with open(myfile, "r") as f:
    rows = list(csv.reader(f))

while True:
    exist = False
    search = input("\nEnter a first or last name (or 'q' to end): ")
    if search.lower() == "q":
        break
    else:
        for row in rows:
            if search == row[0] or search == row[1]:
                print(row)
                exist = True
        if exist == False:
            print("No such record!")

Enter a first or last name (or 'q' to end):  Will

No such record!

Enter a first or last name (or 'q' to end):  Al

No such record!

Enter a first or last name (or 'q' to end):  Williams

['Jennifer', 'Williams', '3.7']

Enter a first or last name (or 'q' to end):  Q

In [87]:
low = float(input("Enter the lower boundary: "))
up = float(input("Enter the upper boundary: "))

with open(myfile, "r") as f:
    rows = list(csv.reader(f))
    
for row in rows:
    if float(row[2]) >= low and float(row[2]) <= up:
        print(row)

Enter the lower boundary:  3.7
Enter the upper boundary:  3.9

['Jennifer', 'Williams', '3.7']

In [89]:
m_gpa = float("-inf")
m_gpa_row = []

with open(myfile, "r") as f:
    rows = list(csv.reader(f))
    
for row in rows:
    if float(row[2]) > m_gpa:
        m_gpa = float(row[2])
        m_gpa_row = row
        
print(m_gpa_row[1])

Williams

In [91]:
with open(myfile, "r") as f:
    rows = list(csv.reader(f))
    
tmp = []
for row in rows:
    tmp.append(row)
    
tmp

[['Jennifer', 'Williams', '3.7']]

In [95]:
tmp[2][1] = "Williamson"
tmp

IndexError: list index out of range

In [97]:
f = open(myfile, "w")
for row in tmp:
    new_record = row[0] + "," + row[1] + "," + row[2] + "\n"
    f.write(new_record)
f.close()

In [27]:
def avg(*items):
    sum = 0
    lst = []
    for i in items:
        sum += i
        lst.append(i)
    average = sum / len(lst)
    print(average)

avg(2, 3, 4, 5, 6, 6, 2, 4, 6, 2, 1, 2, 9)

4.0

# 10.30.24

In [3]:
import csv
myfile = "students.csv"

with open(myfile, "r") as fo:
    rows = list(csv.reader(fo))

unique = set()
for row in rows:
    unique.add(row[0])

unique

{'Alex', 'Jeff', 'Jennifer'}

In [5]:
fullnames = []

with open(myfile, "r") as fo:
    rows = list(csv.reader(fo))

for row in rows:
    fullnames.append(row[0] + " " + row[1])

i = 0
for row in rows:
    row.append(fullnames[i])
    i += 1

with open(myfile, "w") as fo:
    for row in rows:
        new_record = row[0] + "," + row[2] + "," + row[3] + "\n"
        fo.write(new_record)

In [13]:
q1 = [
    ("Jan", 4500, 4700),
    ("Feb", 5300, 4900),
    ("Mar", 5000, 4800)]

for month, income, expense in q1:
    net = income - expense
    if net > 0:
        status = "profit"
    else:
        status = "loss"
    print(f"For {month}, the {status} was ${abs(net)}")

For Jan, the loss was $200
For Feb, the profit was $400
For Mar, the profit was $200

In [15]:
def avg(*values):
    s = n = 0
    for value in values:
        s += value
        n += 1
    return s/n

avg(-10, 20, 5.75)

5.25

In [17]:
def avg(*values):
    return sum(values)/len(values)

avg(-10, 20, 5.75)

5.25

In [19]:
def counter(sentence, letter):
    count = 0
    for item in sentence.split():
        if item.lower().startswith(letter.lower()):
            count += 1
    print(count)

counter("I like ice hockey", "i")

2

In [21]:
message = input("Enter a string: ")
n_up = n_low = n_digit = n_non = 0
for char in message:
    if char.isupper():
        n_up += 1
    elif char.islower():
        n_low += 1
    elif char.isdigit():
        n_digit += 1
    else:
        n_non += 1
print(f"\nUpper: {n_up}\nLower: {n_low}\nDigit: {n_digit}\nNonalphan: {n_non}")

Enter a string:  Happy 2024 y'all!

Upper: 1
Lower: 8
Digit: 4
Nonalphan: 4

In [23]:
word = input("Enter a word: ")
result = {}
for char in word.lower():
    if char not in result:
        result[char] = 1
    else:
        result[char] += 1
result

Enter a word:  Atlanta

{'a': 3, 't': 2, 'l': 1, 'n': 1}

In [25]:
employees = [
    ("Alice", "Engineering", 85000),
    ("Bob", "Marketing", 70000),
    ("Jim", "Sales", 65000),
    ("Diana", "Accounting", 72000),
]

s_employees = sorted(employees, key = lambda mytuple: mytuple[2])
for employee in s_employees:
    print(employee[0])

Jim
Bob
Diana
Alice

In [27]:
def v_counter(word):
    return sum(1 for char in word.lower() if char in "aeiou")

sorted(employees, key = lambda mytuple: v_counter(mytuple[1]))

[('Jim', 'Sales', 65000),
 ('Bob', 'Marketing', 70000),
 ('Diana', 'Accounting', 72000),
 ('Alice', 'Engineering', 85000)]

In [29]:
s = set()
for n in range(1000, 10000):
    if len(set(str(n))) == 4:
        s.add(n)
len(s)

4536

In [31]:
import random
digits = "0 1 2 3 4 5 6 7 8 9".split()
while digits[0] == "0":
    random.shuffle(digits)
str_n = ""
for i in range(0, 4, 1):
    str_n += digits[i]
print(str_n)

8156

# 11.11.24

In [33]:
# NUMPY Array Processing

import numpy as np
print(np.__version__)

1.26.4

In [35]:
vector = [10, 11, 12]
np.array(vector)

array([10, 11, 12])

In [39]:
matrix = [[11, 12, 13], [21, 22, 23], [31, 32, 33]]
np.array(matrix)

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [41]:
# np.arange(start, stop(exclusive), step_size)
np.arange(0, 6, 1)

array([0, 1, 2, 3, 4, 5])

In [43]:
# np.linspace(start, stop(exclusive), # of points)
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [45]:
np.linspace(0, 5, 20)

array([0.        , 0.26315789, 0.52631579, 0.78947368, 1.05263158,
       1.31578947, 1.57894737, 1.84210526, 2.10526316, 2.36842105,
       2.63157895, 2.89473684, 3.15789474, 3.42105263, 3.68421053,
       3.94736842, 4.21052632, 4.47368421, 4.73684211, 5.        ])

In [47]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [49]:
np.ones(4)

array([1., 1., 1., 1.])

In [51]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [53]:
np.ones((4, 4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [55]:
# To create an indentity matric
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [57]:
# To create random values approximately within [-3, 3] normally distributed
np.random.randn(4, 3)

array([[ 0.30294441, -1.69127121, -0.70676294],
       [-0.20833217,  0.45548688,  0.63538348],
       [ 0.90861149,  0.11562058,  0.48313964],
       [ 1.43072575, -0.72133757,  0.02148917]])

In [59]:
np.random.randint(0, 100)

29

In [61]:
np.random.randint(0, 100, 5)

array([ 8, 12, 38, 10, 78])

In [63]:
np.random.randint(0, 100, size = (2, 3))

array([[56, 24, 94],
       [58, 88, 15]])

In [65]:
arr1 = np.array([[1, 2, 3], [4, 5, 6]])
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [67]:
# The shape attribute
arr1.shape

(2, 3)

In [69]:
arr1 = np.array([1, 2, 3])
arr1

array([1, 2, 3])

In [71]:
arr1.shape

(3,)

In [73]:
arr1 = np.arange(0, 16, 1).reshape(4, 4)
arr1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [75]:
# To give a new shape to an array without changing its data
arr1.reshape(1, 16)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]])

In [77]:
arr1.reshape(2, 8)

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [79]:
arr1.reshape(6, 4)

ValueError: cannot reshape array of size 16 into shape (6,4)

In [83]:
arr1 = np.random.randint(0, 100, 12).reshape(3, 4)
arr1

array([[35, 32, 50, 69],
       [ 7,  7, 26, 81],
       [ 0, 60, 17, 76]])

In [85]:
# The ndim attribute
arr1.ndim

2

In [87]:
arr1.max()

81

In [89]:
arr1.min()

0

In [91]:
arr1.argmax()

7

In [93]:
arr1 = np.random.randint(0, 100, 12)
arr1

array([81, 42, 76,  3, 88, 90, 99, 52, 18, 16, 85, 12])

In [95]:
arr1.argmax()

6

In [97]:
arr1.argmin()

3

In [99]:
arr2 = arr1.reshape(3, 4)
arr2

array([[81, 42, 76,  3],
       [88, 90, 99, 52],
       [18, 16, 85, 12]])

In [101]:
# Descriptive statistics along the rows and columns
arr2.max(axis = 0)

array([88, 90, 99, 52])

In [103]:
arr2.argmax(axis = 0)

array([1, 1, 1, 1], dtype=int64)

In [105]:
arr2.min(axis = 1)

array([ 3, 52, 12])

In [107]:
arr2.argmin(axis = 1)

array([3, 3, 3], dtype=int64)

In [109]:
np.mean(arr2, axis = 1)

array([50.5 , 82.25, 32.75])

In [111]:
arr1 = np.arange(1, 7, 1).reshape(2, 3)
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [113]:
np.mean(arr1, axis = 0)

array([2.5, 3.5, 4.5])

In [115]:
np.std(arr1, axis = 1)

array([0.81649658, 0.81649658])

In [ ]:
# The dtype attribute

In [117]:
arr1.dtype

dtype('int32')

In [119]:
arr2 = np.array([.1, .2, .3])
arr2.dtype

dtype('float64')

In [121]:
arr3 = np.array(["Sue", "Jack", "Daniel"])
arr3.dtype

dtype('<U6')

In [123]:
# Indexing and slicing for 1-d arrays
arr1 = np.arange(10, 20, 1)
arr1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [125]:
arr1[2]

12

In [127]:
arr1[:4]

array([10, 11, 12, 13])

In [129]:
arr1[1:]

array([11, 12, 13, 14, 15, 16, 17, 18, 19])

In [131]:
arr1[1:4]

array([11, 12, 13])

In [133]:
arr1[:]

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [135]:
arr1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [137]:
arr1[:4] = 99
arr1

array([99, 99, 99, 99, 14, 15, 16, 17, 18, 19])

In [139]:
mylist = [1, 2, 3]
mylist[:2] = -1

TypeError: can only assign an iterable

In [141]:
arr1 = np.arange(10, 20, 1)
arr1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [143]:
arr2 = arr1[1:4]
arr2

array([11, 12, 13])

In [147]:
# Changes in a slice of an array affect the original array
arr2[:] = -1
arr2

array([-1, -1, -1])

In [149]:
arr1

array([10, -1, -1, -1, 14, 15, 16, 17, 18, 19])

In [151]:
# Indexing and slicing for 2-d arrays
arr1 = np.arange(10, 26, 1).reshape(4, 4)
arr1

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25]])

In [153]:
arr1[1]

array([14, 15, 16, 17])

In [155]:
arr1[1, :]

array([14, 15, 16, 17])

In [157]:
arr1[1][2]

16

In [159]:
arr1[1, :][2]

16

In [161]:
arr1[:, 3]

array([13, 17, 21, 25])

In [163]:
arr1

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25]])

In [165]:
arr1[1:3, 2]

array([16, 20])

In [167]:
arr1[:2]

array([[10, 11, 12, 13],
       [14, 15, 16, 17]])

In [169]:
arr1[:, 1:]

array([[11, 12, 13],
       [15, 16, 17],
       [19, 20, 21],
       [23, 24, 25]])

In [171]:
arr1

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25]])

In [173]:
arr1[2:3, :]

array([[18, 19, 20, 21]])

In [175]:
arr1[:2, 2:]

array([[12, 13],
       [16, 17]])

In [177]:
arr1[1:, :3]

array([[14, 15, 16],
       [18, 19, 20],
       [22, 23, 24]])

In [179]:
arr1 = np.zeros((10, 10))
for i in range(0, 10, 1):
    arr1[i] = i + 1
arr1

array([[ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.],
       [ 4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.],
       [ 5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [ 7.,  7.,  7.,  7.,  7.,  7.,  7.,  7.,  7.,  7.],
       [ 8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.],
       [ 9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10., 10.]])

In [183]:
arr1 = np.zeros((10, 10))
for i in range(0, 10, 1):
    arr1[:, i] = i + 1
arr1

array([[ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.]])

In [185]:
arr1 = np.zeros((10, 10))
for i in range(0, 10, 1):
    arr1[i, i] = i + 1
arr1

array([[ 1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  2.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  3.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  4.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  6.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.]])

# 11.13.24

In [32]:
# NUMPY (cont.)
import numpy as np

In [34]:
# Basic indexing a of array segments in a 2-d array:
  # TwoD[row_indixes] --> to select rows
  # TwoD[row_indices, column_indices] --> to select rows and columns

In [36]:
arr1 = np.arange(10, 26, 1).reshape(4, 4)
arr1

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25]])

In [38]:
# a 2x2 sub-matrix from the bottom left corner
arr1[2:, :2]

array([[18, 19],
       [22, 23]])

In [40]:
# BooLean indexing (conditional selection)
  # array[BooLean_Array]

# The arrays have the same shape --> items from the main array corresponding to True values in the BooLean array will be returned.
# The number of rows in the 2-d array equals the length of the 1-d BooLean array --> rows corresponding to True values will be returned.

In [42]:
# Fancy indexing
  # Supplying an array of indixes to another array --> a new array will be indexed in the custom order specified.

In [44]:
arr1 = np.arange(1, 9, 1)
arr1

array([1, 2, 3, 4, 5, 6, 7, 8])

In [46]:
arr2 = arr1 >=6
arr2

array([False, False, False, False, False,  True,  True,  True])

In [48]:
arr1[arr2]

array([6, 7, 8])

In [50]:
arr1[arr1 > 6]

array([7, 8])

In [52]:
arr1 = np.arange(0, 60, 1).reshape(6, 10)
arr1

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [54]:
arr1[arr1 <= 4]

array([0, 1, 2, 3, 4])

In [56]:
arr2 = np.zeros((6, 10))
for i in range(0, 10, 1):
    arr2[:, i] = i
arr2

array([[0., 1., 2., 3., 4., 5., 6., 7., 8., 9.],
       [0., 1., 2., 3., 4., 5., 6., 7., 8., 9.],
       [0., 1., 2., 3., 4., 5., 6., 7., 8., 9.],
       [0., 1., 2., 3., 4., 5., 6., 7., 8., 9.],
       [0., 1., 2., 3., 4., 5., 6., 7., 8., 9.],
       [0., 1., 2., 3., 4., 5., 6., 7., 8., 9.]])

In [58]:
arr1[arr2 >= 8]

array([ 8,  9, 18, 19, 28, 29, 38, 39, 48, 49, 58, 59])

In [60]:
arr1

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [62]:
mylist = "Apple Google MS Apple Google MS MS".split()
firm = np.array(mylist)
firm

array(['Apple', 'Google', 'MS', 'Apple', 'Google', 'MS', 'MS'],
      dtype='<U6')

In [64]:
sales = np.arange(0, 28, 1).reshape(7, 4)
sales

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27]])

In [66]:
firm == "Apple"

array([ True, False, False,  True, False, False, False])

In [68]:
np.mean(sales[firm == "Apple", 3], axis = 0)

9.0

In [70]:
sales[firm == "MS", 2:]

array([[10, 11],
       [22, 23],
       [26, 27]])

In [72]:
np.mean(sales[firm == "MS", 2:], axis = 1)

array([10.5, 22.5, 26.5])

In [74]:
sales[(firm == "MS") | (firm == "Apple")] = 0
sales

array([[ 0,  0,  0,  0],
       [ 4,  5,  6,  7],
       [ 0,  0,  0,  0],
       [ 0,  0,  0,  0],
       [16, 17, 18, 19],
       [ 0,  0,  0,  0],
       [ 0,  0,  0,  0]])

In [76]:
sales[firm != "Google"]

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [78]:
mylist = [1, 2, 3]

In [80]:
mylist[:] = 99

TypeError: can only assign an iterable

In [82]:
arr1 = np.array([10, 11, 12, 13, 14])
arr1

array([10, 11, 12, 13, 14])

In [84]:
#14 -> 4
#10 -> 0
#13 -> 3

In [86]:
arr1[np.array([4, 0, 3])]

array([14, 10, 13])

In [88]:
arr1

array([10, 11, 12, 13, 14])

In [90]:
arr2 = np.arange(0, 32, 1).reshape(8, 4)
arr2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [92]:
arr2[[0, 7, 1]]

array([[ 0,  1,  2,  3],
       [28, 29, 30, 31],
       [ 4,  5,  6,  7]])

In [94]:
#9 -> [2, 1]
#31 -> [7, 3]
#22 -> [5, 2]

In [96]:
arr2[[2, 7, 5], [1, 3, 2]]

array([ 9, 31, 22])

In [98]:
arr1 = np.zeros((10, 10))
for i in range(0, 10, 1):
    for j in range(0, 10, 1):
        arr1[i, j] = (i + 1) * (j + 1)
arr1

array([[  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.],
       [  2.,   4.,   6.,   8.,  10.,  12.,  14.,  16.,  18.,  20.],
       [  3.,   6.,   9.,  12.,  15.,  18.,  21.,  24.,  27.,  30.],
       [  4.,   8.,  12.,  16.,  20.,  24.,  28.,  32.,  36.,  40.],
       [  5.,  10.,  15.,  20.,  25.,  30.,  35.,  40.,  45.,  50.],
       [  6.,  12.,  18.,  24.,  30.,  36.,  42.,  48.,  54.,  60.],
       [  7.,  14.,  21.,  28.,  35.,  42.,  49.,  56.,  63.,  70.],
       [  8.,  16.,  24.,  32.,  40.,  48.,  56.,  64.,  72.,  80.],
       [  9.,  18.,  27.,  36.,  45.,  54.,  63.,  72.,  81.,  90.],
       [ 10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.]])

In [100]:
arr1 = np.arange(10, 15, 1)
arr1

array([10, 11, 12, 13, 14])

In [102]:
arr2 = np.arange(1, 6, 1)
arr2

array([1, 2, 3, 4, 5])

In [104]:
arr1 + arr2

array([11, 13, 15, 17, 19])

In [106]:
arr1/arr2

array([10.  ,  5.5 ,  4.  ,  3.25,  2.8 ])

In [108]:
arr1 - arr2

array([9, 9, 9, 9, 9])

In [110]:
arr3 = np.arange(0, 5, 1)
arr3

array([0, 1, 2, 3, 4])

In [112]:
arr1

array([10, 11, 12, 13, 14])

In [114]:
arr1/arr3

C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\1841752248.py:1: RuntimeWarning: divide by zero encountered in divide
  arr1/arr3

array([        inf, 11.        ,  6.        ,  4.33333333,  3.5       ])

In [116]:
arr3/arr3

C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\3844900078.py:1: RuntimeWarning: invalid value encountered in divide
  arr3/arr3

array([nan,  1.,  1.,  1.,  1.])

In [118]:
arr1 = np.arange(1, 10, 1).reshape(3, 3)
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [120]:
arr2 = np.arange(19, 10, -1).reshape(3, 3)
arr2

array([[19, 18, 17],
       [16, 15, 14],
       [13, 12, 11]])

In [122]:
arr1 - arr2

array([[-18, -16, -14],
       [-12, -10,  -8],
       [ -6,  -4,  -2]])

In [124]:
arr3

array([0, 1, 2, 3, 4])

In [126]:
arr1 + arr3

ValueError: operands could not be broadcast together with shapes (3,3) (5,)

In [128]:
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [130]:
arr1 + 100

array([[101, 102, 103],
       [104, 105, 106],
       [107, 108, 109]])

In [132]:
arr1/10

array([[0.1, 0.2, 0.3],
       [0.4, 0.5, 0.6],
       [0.7, 0.8, 0.9]])

In [134]:
arr1 % 3

array([[1, 2, 0],
       [1, 2, 0],
       [1, 2, 0]], dtype=int32)

In [136]:
arr1 ** 4

array([[   1,   16,   81],
       [ 256,  625, 1296],
       [2401, 4096, 6561]], dtype=int32)

In [138]:
arr1 = np.arange(-5, 4, 1).reshape(3, 3)
arr1

array([[-5, -4, -3],
       [-2, -1,  0],
       [ 1,  2,  3]])

In [140]:
np.abs(arr1)

array([[5, 4, 3],
       [2, 1, 0],
       [1, 2, 3]])

In [142]:
np.square(arr1)

array([[25, 16,  9],
       [ 4,  1,  0],
       [ 1,  4,  9]])

In [144]:
np.sqrt(arr1)

C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\3299852782.py:1: RuntimeWarning: invalid value encountered in sqrt
  np.sqrt(arr1)

array([[       nan,        nan,        nan],
       [       nan,        nan, 0.        ],
       [1.        , 1.41421356, 1.73205081]])

In [146]:
np.cbrt(arr1)

array([[-1.70997595, -1.58740105, -1.44224957],
       [-1.25992105, -1.        ,  0.        ],
       [ 1.        ,  1.25992105,  1.44224957]])

In [148]:
np.exp(arr1)

array([[6.73794700e-03, 1.83156389e-02, 4.97870684e-02],
       [1.35335283e-01, 3.67879441e-01, 1.00000000e+00],
       [2.71828183e+00, 7.38905610e+00, 2.00855369e+01]])

In [150]:
np.log(arr1)

C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\2108464003.py:1: RuntimeWarning: divide by zero encountered in log
  np.log(arr1)
C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\2108464003.py:1: RuntimeWarning: invalid value encountered in log
  np.log(arr1)

array([[       nan,        nan,        nan],
       [       nan,        nan,       -inf],
       [0.        , 0.69314718, 1.09861229]])

In [152]:
np.log10(arr1)

C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\2590435965.py:1: RuntimeWarning: divide by zero encountered in log10
  np.log10(arr1)
C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\2590435965.py:1: RuntimeWarning: invalid value encountered in log10
  np.log10(arr1)

array([[       nan,        nan,        nan],
       [       nan,        nan,       -inf],
       [0.        , 0.30103   , 0.47712125]])

In [154]:
np.sin(arr1)

array([[ 0.95892427,  0.7568025 , -0.14112001],
       [-0.90929743, -0.84147098,  0.        ],
       [ 0.84147098,  0.90929743,  0.14112001]])

In [156]:
np.cos(arr1)

array([[ 0.28366219, -0.65364362, -0.9899925 ],
       [-0.41614684,  0.54030231,  1.        ],
       [ 0.54030231, -0.41614684, -0.9899925 ]])

In [158]:
np.max(arr1)

3

In [160]:
arr1.max()

3

In [162]:
arr1 = np.arange(1, 7, 1).reshape(2, 3)
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [164]:
arr1.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [166]:
arr1 = np.zeros((2, 2))
arr1

array([[0., 0.],
       [0., 0.]])

In [168]:
arr2 = np.ones((3, 2))
arr2

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [170]:
## appending to arrays:
# vertically appending
np.vstack((arr1, arr2, arr1))

array([[0., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.]])

In [172]:
arr1 = np.zeros((2, 3))
arr1

array([[0., 0., 0.],
       [0., 0., 0.]])

In [174]:
arr2 = np.ones((2, 2))
arr2

array([[1., 1.],
       [1., 1.]])

In [176]:
# horizontally appending
np.hstack((arr1, arr2))

array([[0., 0., 0., 1., 1.],
       [0., 0., 0., 1., 1.]])

In [178]:
# append(array, values, axis)

In [180]:
arr1 = np.arange(1, 7, 1).reshape(2, 3)
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [182]:
np.append(arr1, [[7, 8, 9]], axis = 0)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [184]:
np.append(arr1, [[11, 12, 13, 14], [21, 22, 23, 24]], axis = 1)

array([[ 1,  2,  3, 11, 12, 13, 14],
       [ 4,  5,  6, 21, 22, 23, 24]])

In [186]:
arr1 = np.arange(0, 12, 1).reshape(3, 4)
arr1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [188]:
for row in arr1:
    print(row)

[0 1 2 3]
[4 5 6 7]
[ 8  9 10 11]

In [190]:
arr1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [192]:
i = 0
for row in arr1:
    i += 1
    print(f"Firm #{i}: {sum(row)}")

Firm #1: 6
Firm #2: 22
Firm #3: 38

In [194]:
arr1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [196]:
for row in arr1.T:
    print(sum(row))

12
15
18
21

In [198]:
for row in arr1:
    for item in row:
        print(item)

0
1
2
3
4
5
6
7
8
9
10
11

In [200]:
# PANDAS

import pandas as pd
print(pd.__version__)

2.2.2

In [202]:
# Series --> 1-d data
pd.Series([10, 11, 12, 13])

0    10
1    11
2    12
3    13
dtype: int64

In [204]:
mylist1 = [10, 11, 12, 13]
mylist2 = ["a", "b", "c", "d"]

In [206]:
pd.Series(data = mylist1, index = mylist2)

a    10
b    11
c    12
d    13
dtype: int64

In [208]:
pd.Series(mylist1, mylist2)

a    10
b    11
c    12
d    13
dtype: int64

In [210]:
pd.Series(np.arange(10, 14, 1))

0    10
1    11
2    12
3    13
dtype: int32

In [212]:
pd.Series(np.arange(10, 14, 1), range(1, 5, 1))

1    10
2    11
3    12
4    13
dtype: int32

In [214]:
d1 = {"w": 10, "x": 11, "y": 12}

In [216]:
pd.Series(d1)

w    10
x    11
y    12
dtype: int64

In [218]:
mylist = "Google MS Apple".split()
pd.Series(mylist)

0    Google
1        MS
2     Apple
dtype: object

# 11.18.24

In [220]:
# PANDAS Series

import numpy as np
import pandas as pd

In [222]:
s1 = pd.Series(data = range(100, 104, 1), index = "Tom Jen Bob Sue".split())
s1

Tom    100
Jen    101
Bob    102
Sue    103
dtype: int64

In [224]:
s1["Jen"]

101

In [226]:
s3 = pd.Series([1500, 1510, 1520], "Joe Sue Tom".split())

In [228]:
s3

Joe    1500
Sue    1510
Tom    1520
dtype: int64

In [230]:
s1

Tom    100
Jen    101
Bob    102
Sue    103
dtype: int64

In [232]:
s1 + s3/3 + 50

Bob           NaN
Jen           NaN
Joe           NaN
Sue    656.333333
Tom    656.666667
dtype: float64

In [234]:
ex = pd.Series([100, 300, 20, 250, 50], "NY TX AR CA PA".split())
ex

NY    100
TX    300
AR     20
CA    250
PA     50
dtype: int64

In [236]:
im = pd.Series([150, 240, 10, 400, 30, 160], "NY TX AR CA MD MI".split())
im

NY    150
TX    240
AR     10
CA    400
MD     30
MI    160
dtype: int64

###### net = ex - im
net

In [240]:
net.mean()

-32.5

In [242]:
net.median()

-20.0

In [244]:
net.sum()

-130.0

In [246]:
net.min()

-150.0

In [248]:
net.idxmin()

'CA'

In [250]:
net.idxmax()

'TX'

In [252]:
net

AR     10.0
CA   -150.0
MD      NaN
MI      NaN
NY    -50.0
PA      NaN
TX     60.0
dtype: float64

In [254]:
np.abs(net)

AR     10.0
CA    150.0
MD      NaN
MI      NaN
NY     50.0
PA      NaN
TX     60.0
dtype: float64

In [256]:
np.cbrt(net)

AR    2.154435
CA   -5.313293
MD         NaN
MI         NaN
NY   -3.684031
PA         NaN
TX    3.914868
dtype: float64

In [258]:
net + 50

AR     60.0
CA   -100.0
MD      NaN
MI      NaN
NY      0.0
PA      NaN
TX    110.0
dtype: float64

In [260]:
net/10

AR     1.0
CA   -15.0
MD     NaN
MI     NaN
NY    -5.0
PA     NaN
TX     6.0
dtype: float64

In [262]:
net[net > 0]

AR    10.0
TX    60.0
dtype: float64

In [264]:
net[["TX", "NY", "MD"]]

TX    60.0
NY   -50.0
MD     NaN
dtype: float64

In [266]:
s1 = pd.Series(range(10, 20, 1))
s1

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [268]:
s1[4:7]

4    14
5    15
6    16
dtype: int64

In [270]:
s1[:]

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [272]:
s1[6:] = -1
s1

0    10
1    11
2    12
3    13
4    14
5    15
6    -1
7    -1
8    -1
9    -1
dtype: int64

In [274]:
s1 = pd.Series(range(10, 20, 1))
s1

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [276]:
# changes in a slice of a series affect the original series
s2 = s1[6:]
s2

6    16
7    17
8    18
9    19
dtype: int64

In [278]:
s2[:] = 99

In [280]:
s2

6    99
7    99
8    99
9    99
dtype: int64

In [282]:
s1

0    10
1    11
2    12
3    13
4    14
5    15
6    99
7    99
8    99
9    99
dtype: int64

In [284]:
s1.describe()

count    10.000000
mean     47.100000
std      44.690168
min      10.000000
25%      12.250000
50%      14.500000
75%      99.000000
max      99.000000
dtype: float64

In [286]:
s1

0    10
1    11
2    12
3    13
4    14
5    15
6    99
7    99
8    99
9    99
dtype: int64

In [288]:
s1 = pd.Series(range(10, 20, 1))
s1

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [290]:
s1.isin([10, 11, 6, 7])

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [292]:
1 in s1

True

In [294]:
10 in s1

False

In [296]:
s3 = pd.Series([-2, np.nan, 0, 1, 3, np.nan])
s3

0   -2.0
1    NaN
2    0.0
3    1.0
4    3.0
5    NaN
dtype: float64

In [298]:
s3.notnull()

0     True
1    False
2     True
3     True
4     True
5    False
dtype: bool

In [300]:
# the index attribute
s1.index

RangeIndex(start=0, stop=10, step=1)

In [302]:
s2

6    99
7    99
8    99
9    99
dtype: int64

In [304]:
s2.index = ["Tom", "Bob", "Sue", "Jim"]

In [306]:
s2

Tom    99
Bob    99
Sue    99
Jim    99
dtype: int64

In [308]:
s2.index[1]

'Bob'

In [310]:
issues = pd.Series(["Product", "Shipping", "Product", "Shipping", "Pricing", "Refund", "Product"])

In [312]:
freq = {}
for issue in issues:
    if issue not in freq.keys():
        freq[issue] = 1
    else:
        freq[issue] += 1
freq
s_freq = sorted(freq.items(), key = lambda mytuple: mytuple[1], reverse = True)
s_freq[1][0]

'Shipping'

In [314]:
issues.value_counts().index[1]

'Shipping'

In [316]:
# PANDAS DataFrame

#pd.DataFrame(data, index, columns)

In [318]:
pd.DataFrame(data = [[11, 12, 13], [21, 22, 23]], index = [1, 2], columns = "A B C".split())

    A   B   C
1  11  12  13
2  21  22  23

In [320]:
pd.DataFrame(data = [[11, 12, 13], [21, 22, 23]], index = [1, 2])

    0   1   2
1  11  12  13
2  21  22  23

In [322]:
pd.DataFrame({"A": [11, 21], "B": [12, 22], "C": [13, 23]})

    A   B   C
0  11  12  13
1  21  22  23

In [324]:
s1 = pd.Series([11, 21, 31], index = [1, 2, 3])
s2 = pd.Series([22, 32, 42], index = [2, 3, 4])
s3 = pd.Series([23, 33], index = [2, 3])

In [326]:
d = {"A": s1, "B": s2, "C": s3}
pd.DataFrame(d)

      A     B     C
1  11.0   NaN   NaN
2  21.0  22.0  23.0
3  31.0  32.0  33.0
4   NaN  42.0   NaN

In [328]:
np.random.seed(10)
df = pd.DataFrame(np.random.randn(6, 4), "R1 R2 R3 R4 R5 R6".split(), "C1 C2 C3 C4".split())
df

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [330]:
# selecting columns
df["C1"]

R1    1.331587
R2    0.621336
R3    0.004291
R4   -0.965066
R5   -1.136602
R6   -1.977728
Name: C1, dtype: float64

In [332]:
df[["C3", "C1"]]

          C3        C1
R1 -1.545400  1.331587
R2  0.265512  0.621336
R3  0.433026  0.004291
R4  0.228630 -0.965066
R5  1.484537 -1.136602
R6  0.266070 -1.977728

In [334]:
# creating a new column
# basic arithmetic operations on columns
df["C5"] = list(range(0, 6, 1))

In [336]:
df

          C1        C2        C3        C4  C5
R1  1.331587  0.715279 -1.545400 -0.008384   0
R2  0.621336 -0.720086  0.265512  0.108549   1
R3  0.004291 -0.174600  0.433026  1.203037   2
R4 -0.965066  1.028274  0.228630  0.445138   3
R5 -1.136602  0.135137  1.484537 -1.079805   4
R6 -1.977728 -1.743372  0.266070  2.384967   5

In [338]:
df["Total"] = df["C1"] + .1*df["C5"]

In [340]:
df

          C1        C2        C3        C4  C5     Total
R1  1.331587  0.715279 -1.545400 -0.008384   0  1.331587
R2  0.621336 -0.720086  0.265512  0.108549   1  0.721336
R3  0.004291 -0.174600  0.433026  1.203037   2  0.204291
R4 -0.965066  1.028274  0.228630  0.445138   3 -0.665066
R5 -1.136602  0.135137  1.484537 -1.079805   4 -0.736602
R6 -1.977728 -1.743372  0.266070  2.384967   5 -1.477728

In [342]:
# removing columns
# inplace
df.drop("C1", axis = 1)

          C2        C3        C4  C5     Total
R1  0.715279 -1.545400 -0.008384   0  1.331587
R2 -0.720086  0.265512  0.108549   1  0.721336
R3 -0.174600  0.433026  1.203037   2  0.204291
R4  1.028274  0.228630  0.445138   3 -0.665066
R5  0.135137  1.484537 -1.079805   4 -0.736602
R6 -1.743372  0.266070  2.384967   5 -1.477728

In [344]:
df.drop(["C1", "C5", "Total"], axis = 1)

          C2        C3        C4
R1  0.715279 -1.545400 -0.008384
R2 -0.720086  0.265512  0.108549
R3 -0.174600  0.433026  1.203037
R4  1.028274  0.228630  0.445138
R5  0.135137  1.484537 -1.079805
R6 -1.743372  0.266070  2.384967

In [346]:
df

          C1        C2        C3        C4  C5     Total
R1  1.331587  0.715279 -1.545400 -0.008384   0  1.331587
R2  0.621336 -0.720086  0.265512  0.108549   1  0.721336
R3  0.004291 -0.174600  0.433026  1.203037   2  0.204291
R4 -0.965066  1.028274  0.228630  0.445138   3 -0.665066
R5 -1.136602  0.135137  1.484537 -1.079805   4 -0.736602
R6 -1.977728 -1.743372  0.266070  2.384967   5 -1.477728

In [348]:
df.drop(["C5", "Total"], axis = 1, inplace = True)

In [350]:
df

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [352]:
df.drop("R1", axis = 0)

          C1        C2        C3        C4
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [354]:
df.drop(["R1", "R6"])

          C1        C2        C3        C4
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805

In [356]:
df

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [358]:
# selecting rows
df.loc[["R6" , "R1"]]

          C1        C2       C3        C4
R6 -1.977728 -1.743372  0.26607  2.384967
R1  1.331587  0.715279 -1.54540 -0.008384

In [360]:
df.iloc[[5, 0]]

          C1        C2       C3        C4
R6 -1.977728 -1.743372  0.26607  2.384967
R1  1.331587  0.715279 -1.54540 -0.008384

In [362]:
# head() and tail()
df.head(6)

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [364]:
df.tail(3)

          C1        C2        C3        C4
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

# 11.20.24

In [366]:
#TEXT ANALYSIS (WITH PANDAS AND RE)

In [368]:
import pandas as pd
import numpy as np

In [370]:
d = {"text": ["Apple is innovative",
             "iPhone is pricey",
             "Is iPad pricey",
             "Eat an apple a day"]}
df = pd.DataFrame(d)
df

                  text
0  Apple is innovative
1     iPhone is pricey
2       Is iPad pricey
3   Eat an apple a day

In [372]:
#the str accessor
df["text"].str.contains("apple")

0    False
1    False
2    False
3     True
Name: text, dtype: bool

In [374]:
df[df["text"].str.contains("apple", case = False)]

                  text
0  Apple is innovative
3   Eat an apple a day

In [376]:
filtered_df = df[df["text"].str.contains("apple", case = False)]
filtered_df

                  text
0  Apple is innovative
3   Eat an apple a day

In [378]:
df_start = df[df["text"].str.startswith("Apple")]
df_start

                  text
0  Apple is innovative

In [380]:
df["text"].str.split()

0     [Apple, is, innovative]
1        [iPhone, is, pricey]
2          [Is, iPad, pricey]
3    [Eat, an, apple, a, day]
Name: text, dtype: object

In [382]:
df["new_column"] = df["text"].str.split().str[0]
df["new_column"]

0     Apple
1    iPhone
2        Is
3       Eat
Name: new_column, dtype: object

In [384]:
df["2nd_word"] = df["text"].str.split().str[1]

In [386]:
df

                  text new_column 2nd_word
0  Apple is innovative      Apple       is
1     iPhone is pricey     iPhone       is
2       Is iPad pricey         Is     iPad
3   Eat an apple a day        Eat       an

In [388]:
df[~df["text"].str.contains("apple", case = False)]["text"].str.split().str[-1]

1    pricey
2    pricey
Name: text, dtype: object

In [390]:
df["IS_count"] = df["text"].str.lower().str.count("is")
df

                  text new_column 2nd_word  IS_count
0  Apple is innovative      Apple       is         1
1     iPhone is pricey     iPhone       is         1
2       Is iPad pricey         Is     iPad         1
3   Eat an apple a day        Eat       an         0

In [392]:
df[~df["text"].str.contains("apple", case = False)]["text"].str.lower().str.count("is")

1    1
2    1
Name: text, dtype: int64

In [394]:
#regular expressions
import re

In [396]:
text = "The firm's sales improved this year, boosted by a major sale last month."

In [398]:
pattern = "sale"
re.search(pattern, text).group()

'sale'

In [400]:
re.findall(pattern, text)

['sale', 'sale']

In [402]:
pattern = "sale"
if re.search(pattern, text):
    print("Pattern found.")
else:
    print("No pattern!")

Pattern found.

In [404]:
pattern = "profit"
re.findall(pattern, text)

[]

In [406]:
#metacharacters:

#. any single char
#[] any single char inside []
#^ the start of a str
#$ the end of a str
#\d any single digit

In [408]:
pattern = "D.t"
text = "Dot or Dat"
re.findall(pattern, text)

['Dot', 'Dat']

In [410]:
pattern = ".ob"
text = "Bob or Jacob"
re.findall(pattern, text)

['Bob', 'cob']

In [412]:
pattern = "[ab]"
text = "Bob or Jacob"
re.findall(pattern, text)

['b', 'a', 'b']

In [414]:
pattern = "[aeiou]"
text = "Essentials of Programming"
re.findall(pattern, text)

['e', 'i', 'a', 'o', 'o', 'a', 'i']

In [416]:
pattern = "[a-c]"
text = "cabin"
re.findall(pattern, text)

['c', 'a', 'b']

In [418]:
pattern = "[a-zA-Z]"
text = "Hello World!"
re.findall(pattern, text)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [420]:
pattern = "[a-zA-Z0-9]"
text = "MIS101"
re.findall(pattern, text)

['M', 'I', 'S', '1', '0', '1']

In [422]:
text = "The project was an utter failure"
pattern = r"failure$"

In [424]:
re.findall(pattern, text)

['failure']

In [426]:
sentences = ["Hello, how are you?",
             "Good morning. Hello there!",
             "Hello world!",
             "Hi there!"]

In [428]:
pattern = r"^Hello"

for sentence in sentences:
    if re.search(pattern, sentence):
        print("Match found:", sentence)

Match found: Hello, how are you?
Match found: Hello world!

In [430]:
text = "The price for order #2 is $100"

In [432]:
pattern = r"\d"
re.findall(pattern, text)

['2', '1', '0', '0']

In [434]:
#quantifiers (for repetition):

#? 0 or 1 time
#* 0 or more times
#+ 1 or more times
#{n} exactly n times
#{n,} n or more times
#{n,m} between n and m times

In [436]:
pattern = "ab*"
text = "abby abc a"
re.findall(pattern, text)

['abb', 'ab', 'a']

In [438]:
text = "Both color and colour are correct."
pattern = "colou?r"
re.findall(pattern, text)

['color', 'colour']

In [440]:
text = "I am 12 and you are 1234"
pattern = "\d{4}"
re.findall(pattern, text)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\134061231.py:2: SyntaxWarning: invalid escape sequence '\d'
  pattern = "\d{4}"

['1234']

In [442]:
text = "Contact us at 123-456-7890 or 987-654-3210"
pattern = r"\d{3}-\d{3}-\d{4}"
re.findall(pattern, text)

['123-456-7890', '987-654-3210']

In [444]:
text = "The laptop costs $1200, and the phone is $800."

In [446]:
pattern = r"\$\d+"
re.findall(pattern, text)

['$1200', '$800']

# 11.25.24

In [448]:
import re
import pandas as pd
import numpy as np

In [450]:
# REGEX (cont'd)

#re.search()
#re.match()
#re.findall()

In [452]:
text = "The firm's sales improved this year, boosted by a major sale last month."

In [454]:
pattern = "profit"
re.search(pattern, text)

In [456]:
pattern = "sale"
re.match(pattern, text)

In [458]:
re.findall(pattern, text)

['sale', 'sale']

In [460]:
pattern = "[aeiou]"
text = input("Enter a word: ").lower()
print("Vowels =", set(re.findall(pattern, text)))

Enter a word:  Olivia

Vowels = {'o', 'a', 'i'}

In [462]:
pattern = r".*\.jpg$"

file = "example.jpg"
if re.match(pattern, file):
    print("A .jpg file.")
else:
    print("Not a jpg file!")

A .jpg file.

In [464]:
def validate_phone_number():
    pattern = r"^\(\d{3}\) \d{3}-\d{4}$"
    while True:
        entry = input(
            "\nEnter your phone number in the following format:\n"
            "(123) 456-7890\n"
            "Your number: ")
        if re.match(pattern, entry):
            return "Your phone is saved."
        else:
            print("Invalid! Try again.")
            
validate_phone_number()

Enter your phone number in the following format:
(123) 456-7890
Your number:   !123) 456-7890

Invalid! Try again.

Enter your phone number in the following format:
(123) 456-7890
Your number:  (123)-456-7890

Invalid! Try again.

Enter your phone number in the following format:
(123) 456-7890
Your number:  (818) 123-45678

Invalid! Try again.

Enter your phone number in the following format:
(123) 456-7890
Your number:  (818) 123-4567

'Your phone is saved.'

In [466]:
# PANDAS (cont'd)

np.random.seed(10)
df = pd.DataFrame(np.random.randn(6, 4), "R1 R2 R3 R4 R5 R6".split(), "C1 C2 C3 C4".split())
df

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [468]:
df["C2"]

R1    0.715279
R2   -0.720086
R3   -0.174600
R4    1.028274
R5    0.135137
R6   -1.743372
Name: C2, dtype: float64

In [470]:
df[["C1", "C3"]]

          C1        C3
R1  1.331587 -1.545400
R2  0.621336  0.265512
R3  0.004291  0.433026
R4 -0.965066  0.228630
R5 -1.136602  1.484537
R6 -1.977728  0.266070

In [472]:
df["C5"] = df["C3"] + df["C4"]/10
df

          C1        C2        C3        C4        C5
R1  1.331587  0.715279 -1.545400 -0.008384 -1.546239
R2  0.621336 -0.720086  0.265512  0.108549  0.276366
R3  0.004291 -0.174600  0.433026  1.203037  0.553330
R4 -0.965066  1.028274  0.228630  0.445138  0.273144
R5 -1.136602  0.135137  1.484537 -1.079805  1.376557
R6 -1.977728 -1.743372  0.266070  2.384967  0.504567

In [474]:
df[["C1", "C2"]].min()

C1   -1.977728
C2   -1.743372
dtype: float64

In [476]:
df[["C1", "C2"]].idxmax()

C1    R1
C2    R4
dtype: object

In [478]:
df[["C1", "C2"]].mean()

C1   -0.353697
C2   -0.126561
dtype: float64

In [480]:
df[["C1", "C2"]].sum()

C1   -2.122182
C2   -0.759368
dtype: float64

In [482]:
df.loc[["R1", "R4"]]

          C1        C2       C3        C4        C5
R1  1.331587  0.715279 -1.54540 -0.008384 -1.546239
R4 -0.965066  1.028274  0.22863  0.445138  0.273144

In [484]:
df.drop("C5", axis = 1)

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [486]:
df.drop("C5", axis = 1, inplace = True)

In [488]:
df

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [490]:
df.drop(["R6", "R3"])

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805

In [492]:
df.loc["R2", "C3"]

0.2655115856921195

In [494]:
# Boolean indexing or conditional selection
df[df> 0]

          C1        C2        C3        C4
R1  1.331587  0.715279       NaN       NaN
R2  0.621336       NaN  0.265512  0.108549
R3  0.004291       NaN  0.433026  1.203037
R4       NaN  1.028274  0.228630  0.445138
R5       NaN  0.135137  1.484537       NaN
R6       NaN       NaN  0.266070  2.384967

In [496]:
df[df["C1"] > 0]

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037

In [498]:
df[(df["C1"] > 0) & (df["C3"] > 0)]

          C1        C2        C3        C4
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037

In [500]:
df[(df["C1"] > 0) | (df["C3"] > 1)]

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R5 -1.136602  0.135137  1.484537 -1.079805

In [502]:
df[df["C1"] > 0]["C2"]

R1    0.715279
R2   -0.720086
R3   -0.174600
Name: C2, dtype: float64

In [504]:
df[df["C2"] < 0][["C1", "C4"]]

          C1        C4
R2  0.621336  0.108549
R3  0.004291  1.203037
R6 -1.977728  2.384967

In [506]:
df

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [508]:
# resetting and setting the index values
df.reset_index()

  index        C1        C2        C3        C4
0    R1  1.331587  0.715279 -1.545400 -0.008384
1    R2  0.621336 -0.720086  0.265512  0.108549
2    R3  0.004291 -0.174600  0.433026  1.203037
3    R4 -0.965066  1.028274  0.228630  0.445138
4    R5 -1.136602  0.135137  1.484537 -1.079805
5    R6 -1.977728 -1.743372  0.266070  2.384967

In [510]:
df

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [512]:
df["Rep"] = "Bob Joe Sue Jen Ted Kim".split()
df

          C1        C2        C3        C4  Rep
R1  1.331587  0.715279 -1.545400 -0.008384  Bob
R2  0.621336 -0.720086  0.265512  0.108549  Joe
R3  0.004291 -0.174600  0.433026  1.203037  Sue
R4 -0.965066  1.028274  0.228630  0.445138  Jen
R5 -1.136602  0.135137  1.484537 -1.079805  Ted
R6 -1.977728 -1.743372  0.266070  2.384967  Kim

In [514]:
df.set_index("Rep", inplace = True)
df

           C1        C2        C3        C4
Rep
Bob  1.331587  0.715279 -1.545400 -0.008384
Joe  0.621336 -0.720086  0.265512  0.108549
Sue  0.004291 -0.174600  0.433026  1.203037
Jen -0.965066  1.028274  0.228630  0.445138
Ted -1.136602  0.135137  1.484537 -1.079805
Kim -1.977728 -1.743372  0.266070  2.384967

In [516]:
np.random.seed(10)
df = pd.DataFrame(np.random.randn(6, 4), "R1 R2 R3 R4 R5 R6".split(), "C1 C2 C3 C4".split())
df

          C1        C2        C3        C4
R1  1.331587  0.715279 -1.545400 -0.008384
R2  0.621336 -0.720086  0.265512  0.108549
R3  0.004291 -0.174600  0.433026  1.203037
R4 -0.965066  1.028274  0.228630  0.445138
R5 -1.136602  0.135137  1.484537 -1.079805
R6 -1.977728 -1.743372  0.266070  2.384967

In [518]:
arr1 = np.zeros((4, 4))
for i in range(0, 4, 1):
    for j in range(0, 4, 1):
        if i == j:
            arr1[i, j] = np.nan
        else:
            arr1[i, j] = (i + 1)*10 + j + 1

arr1

array([[nan, 12., 13., 14.],
       [21., nan, 23., 24.],
       [31., 32., nan, 34.],
       [41., 42., 43., nan]])

In [520]:
df = pd.DataFrame(arr1)
df

      0     1     2     3
0   NaN  12.0  13.0  14.0
1  21.0   NaN  23.0  24.0
2  31.0  32.0   NaN  34.0
3  41.0  42.0  43.0   NaN

In [522]:
df.loc[0, 0] = 11
df.loc[1, 1] = 22
df.loc[1, 2] = np.nan

df

      0     1     2     3
0  11.0  12.0  13.0  14.0
1  21.0  22.0   NaN  24.0
2  31.0  32.0   NaN  34.0
3  41.0  42.0  43.0   NaN

In [524]:
# handling missing data
df.isnull()

       0      1      2      3
0  False  False  False  False
1  False  False   True  False
2  False  False   True  False
3  False  False  False   True

In [526]:
df[3].isnull()

0    False
1    False
2    False
3     True
Name: 3, dtype: bool

In [528]:
# dropna() to remove rows/columns with missing data points
df.dropna()

      0     1     2     3
0  11.0  12.0  13.0  14.0

In [530]:
df.dropna(axis = 1)

      0     1
0  11.0  12.0
1  21.0  22.0
2  31.0  32.0
3  41.0  42.0

In [532]:
df

      0     1     2     3
0  11.0  12.0  13.0  14.0
1  21.0  22.0   NaN  24.0
2  31.0  32.0   NaN  34.0
3  41.0  42.0  43.0   NaN

In [535]:
# imputation with fillna()
df.fillna(value = "imputed")

      0     1        2        3
0  11.0  12.0     13.0     14.0
1  21.0  22.0  imputed     24.0
2  31.0  32.0  imputed     34.0
3  41.0  42.0     43.0  imputed

In [537]:
# imputation with fillna()
df.fillna(value = "imputed")

      0     1        2        3
0  11.0  12.0     13.0     14.0
1  21.0  22.0  imputed     24.0
2  31.0  32.0  imputed     34.0
3  41.0  42.0     43.0  imputed

In [539]:
df

      0     1     2     3
0  11.0  12.0  13.0  14.0
1  21.0  22.0   NaN  24.0
2  31.0  32.0   NaN  34.0
3  41.0  42.0  43.0   NaN

In [541]:
df[3].fillna(value = df[3].mean(), inplace = True)
df

C:\Users\msabo\AppData\Local\Temp\ipykernel_21616\1024708790.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[3].fillna(value = df[3].mean(), inplace = True)

      0     1     2     3
0  11.0  12.0  13.0  14.0
1  21.0  22.0   NaN  24.0
2  31.0  32.0   NaN  34.0
3  41.0  42.0  43.0  24.0

In [543]:
df[2].fillna(value = df[2].median())

0    13.0
1    28.0
2    28.0
3    43.0
Name: 2, dtype: float64

In [545]:
d = {"Firm": "Apple Apple FB FB MS MS MS Amazon Amazon".split(),
     "Rep": "Bob Joe Sue Jen Ted Kim Sam Amy Leo".split(),
     "Sales": [200, 150, 240, 340, 350, 180, 290, 360, 300],
     "Rev": [600, 500, 600, 800, 900, 400, 700, 950, 650],
     "Year": [2019, 2020, 2019, 2020, 2018, 2019, 2020, 2019, 2020]}
df = pd.DataFrame(d)
df

     Firm  Rep  Sales  Rev  Year
0   Apple  Bob    200  600  2019
1   Apple  Joe    150  500  2020
2      FB  Sue    240  600  2019
3      FB  Jen    340  800  2020
4      MS  Ted    350  900  2018
5      MS  Kim    180  400  2019
6      MS  Sam    290  700  2020
7  Amazon  Amy    360  950  2019
8  Amazon  Leo    300  650  2020

In [547]:
# the groupby() function
df.groupby("Firm").sum()

              Rep  Sales   Rev  Year
Firm
Amazon     AmyLeo    660  1600  4039
Apple      BobJoe    350  1100  4039
FB         SueJen    580  1400  4039
MS      TedKimSam    820  2000  6057

In [549]:
df[["Firm", "Sales"]].groupby("Firm").sum().loc["MS"]

Sales    820
Name: MS, dtype: int64

In [551]:
df[["Firm", "Sales"]].groupby("Firm").mean()

             Sales
Firm
Amazon  330.000000
Apple   175.000000
FB      290.000000
MS      273.333333

In [553]:
df[["Year", "Sales"]].groupby("Year").mean()

      Sales
Year
2018  350.0
2019  245.0
2020  270.0